[2016-09-20 19:23] theweavrs opened #1 "Improve shuffling"
Currently the shuffling isn't as efficient as it could be. A little improvement is needed here and there.

[2016-09-20 19:27] theweavrs opened #2 "Clean up code."
**Macalifa.Tags.ID3** needs some thorough clean-up, there are many tags that are unnecessary. Aside from that the **Extensions** folder has more than needed extensions. Probably duplicates. Then the `PlaySong` method is duplicated many times. I need to address that too.
There are probably many other code blocks that need optimization.
- [x] Macalifa.Tags.ID3
- [x] ShellViewModel
- [x] `Play` metho

[2016-09-22 13:45] theweavrs opened #3 "An icon (was made) but all suggestions welcome!"
~~Something with an **M** will suffice. **Any person with any experience in designing is welcome to contribute.**~~

_The new Icon was made with the suggestion of the new name and so this issue no longer remains but please note that any new ideas or contribution is always welcome. This is not to discourage or disappoint but only to inform._

**Note:**
**_If you do not like the new icon or have any

[2016-09-22 14:47] theweavrs opened #4 "Fix issue of manually copying bass.dll to output directory"

[2016-09-22 14:48] #4 closed

[2016-09-22 15:19] theweavrs opened #5 "Fix Compile with .NET Native Toolchain"
This will prevent decompilation of the App and also increase performance and debugging.

[2016-09-22 15:21] theweavrs commented on #5
This is now fixed. Compiling with .Net Native Toolchain works flawlessly.

[2016-09-22 15:21] #5 closed

[2016-09-23 13:19] theweavrs opened #6 "Implement SettingsView"

[2016-09-23 13:21] theweavrs opened #7 "AlphaList: Features-To-Be-Added"
This is the list of all the features that are added and/or yet to be added before first **Alpha** release.
- [x] Improve shuffle
- [x] Implement History/Recent View
- [x] Playlist creation, import, export and adding songs to playlists.
- [x] Album View for Library.
- [x] Play song directly when passed as an argument (From Windows Explorer etc.).
- [x] Drag & Drop support.
- [x] Sorting, filtering,

[2016-09-23 14:23] #6 closed

[2016-09-27 01:11] MattWhilden commented on #5
Hello! I work on the .NET Native compiler team. Any idea what was causing you a headache?

[2016-09-27 14:45] theweavrs commented on #5
This was all I could find on the problem specific to `bass.dll`:
http://www.un4seen.com/forum/?topic=16665.msg120445#msg120445

But that didn't give me a clue on how to fix it. Apparently they fixed the bug, it must have been something in `bass.dll` probably the P/Invoke calls.

[2016-09-27 18:17] MattWhilden commented on #5
Ah yes, we worked with them on that issue last month. Glad to hear it's worked out for you. Do feel free to let me know if you run into other issues with .NET Native.

[2016-09-29 14:33] theweavrs opened #8 "Seperate BreadPlayer.Core and BreadPlayer.Views"
Seperating `BreadPlayer.Core` as a **PCL** and `BreadPlayer.Views.UWP` would make more sense if we want to work with Xamarin and Mono later on.

_This is relatively easy but time consuming, so any contribution regarding this is highly appreciated._

[2016-10-02 17:32] RoyalArdor commented on #3
Here you go :)
[macalifa_logo.zip](https://github.com/theweavrs/Macalifa/files/505134/macalifa_logo.zip)
-Paul Michael Pupo

[2016-10-02 20:40] theweavrs commented on #3
That's actually an amazing logo, really appreciate it.

If you have time can you please make something like this:
![stock-vector-m-letter-symbol-m-letter-icon-m-letter-template-384959272](https://cloud.githubusercontent.com/assets/7473959/19023551/3d9a5502-890a-11e6-870a-ef066857fe51.jpg)
Maybe something like the second icon in the first row or the second in the third row? Your choice of course, i

[2016-10-03 04:36] RoyalArdor commented on #3
Yea, I'll give it a shot soon!

[2016-10-03 10:16] theweavrs commented on #3
That'd be amazing! Thank you so much!

[2016-10-07 22:46] theweavrs opened #9 "Fix crash sometimes when new file is played"
I think the issue is in Tag reading. Need to fix this ASAP.

[2016-10-09 15:13] #9 closed

[2016-10-13 05:29] RoyalArdor commented on #3
Hello, sorry for the MIA. I like the second one with the gradient in this attachment. :)
[MACALIFA_LOGOS.zip](https://github.com/theweavrs/BreadPlayer/files/526234/MACALIFA_LOGOS.zip)

[2016-10-13 05:30] RoyalArdor commented on #3
Make sure you view it on a white background, such as drag and dropping into a browser.

[2016-10-13 14:49] #1 closed

[2016-10-13 14:55] theweavrs commented on #3
We changed the App name to **Bread Player** just this week (so sorry) but these all are fantastic. I understand that a lot of time was put into all these, for that I personally apologize.

[2016-10-13 15:05] theweavrs commented on #3
_The new Icon was made with the suggestion of the new name and so this issue no longer remains but please note that any new ideas or contribution is always welcome. This is not to discourage or disappoint but only to inform._

**Note:**
**_If you do not like the new icon or have any new suggestions or just want to share ideas, please do not hesitate to [email me](mailto:enkaboot@gmail.com) or open

[2016-10-24 16:50] #7 closed

[2016-10-24 16:53] theweavrs opened #10 "Bug hunting/fixing!"
**Bread Player is now in freeze! Bug hunting has started!**
Want to help hunt bugs? Feel free to pick the .appxbundle from here!

Looking forward to an awesome bug hunting session!

[2016-10-25 10:52] theweavrs opened #11 "Improve/Fix Search capabilities"

[2016-10-25 10:53] theweavrs opened #12 "Database engine to be changed"
The current database engine is excruciatingly slow. Maybe another Database engine would do better, must be a NOSQL though.

Possible replacements:

1- RaptorDB (very fast but not for UWP. Maybe it will be ported soon.)

[2016-10-25 10:59] theweavrs opened #13 "Crash on typing anything in the SearchBar"

[2016-10-25 13:40] #13 closed

[2016-10-25 16:14] DannyTalent opened #14 "Seek bar not working properly"
When playing a song and clicking on another area of the seek bar, the audio jumps a bit, but doesn't work as intended.

**What it does:** Small jump in audio, and then goes back to the same place
**What it should do:** Jump to a certain time in the song, where the mouse is clicking

PC, Mobile doesn't work either but there isn't a jump

[2016-10-25 16:18] DannyTalent opened #15 ""0 songs" album, also crashing the app"
I have a song I ripped from YouTube, and did the ID3 myself. The player shows the album name, artist name, but shows 0 songs · 0.0 Minutes. When I try to play it, the application crashes.

It probably has to do with the handling of foreign characters, the filename is "∆$†ɌῗØ - CɌY$†∆Ɫ ШЄЄD (ØЯỊ₲ỊИ∆Ɫ MỊX).mp3"

**What it does: **Application crashes
**What it should do: **Throw error, or play the so

[2016-10-25 16:23] DannyTalent opened #16 "2 songs playing at the same time"
On mobile, I double clicked a song to play, but then clicked another one and now there's the first song  playing in the background, as well as the second one. I can pause/change the second one, but the first one just keeps on playing.

EDIT: Stopped playing after it finished

[2016-10-25 16:41] theweavrs commented on #14
Yes, this is still not functional. I will try and play around with things and see what can be done.

[2016-10-25 16:42] DannyTalent commented on #14
Ah right, but pulling the button does work, at least on PC

[2016-10-25 16:42] theweavrs commented on #15
That's odd. I will rename an mp3 file and try to reproduce. Let's see what happens.

Can Groove Play it?

[2016-10-25 16:44] theweavrs commented on #14
Yes, I added that to at least make it seekable.

[2016-10-25 16:45] theweavrs commented on #16
Try to reproduce this again to see if it is a bug or a glitch. Thank you.

[2016-10-25 16:49] DannyTalent commented on #15
Yep Groove can play it normally.
Also, there are no foreign characters on the metadata

[2016-10-25 16:51] DannyTalent commented on #16
Can't seem to do it again.. I'll let you know if I find a way

[2016-10-25 16:59] theweavrs commented on #16
I will have to check and reproduce too. Maybe it happens on PC too.

[2016-10-25 17:01] theweavrs commented on #15
You mean when you click the play button on album thumbnail, then the app crashes?

Try and click on the album art, this will open the album view with all the songs in the album. Try playing the song from there.

[2016-10-25 17:05] DannyTalent commented on #16
I know what causes it!!
On mobile, double tapping the play button to play a new song causes it!!

I can't reproduce it on PC since the button jumps elsewhere when I click it

[2016-10-25 17:08] DannyTalent commented on #15
Yeah, that crashes it.

Once again, opening the album art shows "0 songs · 0.0 Minutes", and shows nothing else.
When I click on Play All, it also causes a crash

[2016-10-25 17:10] theweavrs commented on #15
Yes, I think I understand where the problem is. Thanks.

[2016-10-25 17:11] theweavrs commented on #16
We will have to disable double tap then. Simple :laughing:

[2016-10-25 17:23] theweavrs commented on #14
@DannyTalent Can you please test something? See if the SMTC appear when you minimize the app in mobile. Basically, first play a song then press home button and then try changing the volume. If the song appears there then awesome if not please tell.

[2016-10-25 17:32] DannyTalent commented on #14
Nope. No controls

[2016-10-25 17:55] theweavrs commented on #15
The problem wasn't in the filename or the illegal characters, it was because of empty album. Now fixed.

[2016-10-25 22:43] theweavrs opened #17 "All suggestions/requests here."
**As this project is open source and for the people, let's make it by the people too! Any suggestions and requests are welcome. By any I mean _any_; you can request a berry on top of the bread! Anything.**

_Unique ideas that don't sound good in your head are especially welcome here. Let us fill this issue with suggestions and requests!_

List of suggestions already given by the people:

1. Displa

[2016-10-26 11:20] DannyTalent commented on #17
What about lyrics (embedded/.lrc/ online database) support? :DDD I remember my symbian had it and Windows never delivered any support ever :(

[2016-10-26 11:50] theweavrs commented on #17
@DannyTalent the only problem is that there aren't any .lrc databases available and the only ones that are available have websites in Chinese and no API :D Its a very beautiful idea, I myself wanted something like this.

[2016-10-26 12:15] DannyTalent commented on #17
@theweavrs Hmmm what about viewlyrics.com ? There's a github project https://github.com/PedroHLC/ViewLyricsOpenSearcher that could perhaps be of use...

But also maybe it could read independent .lrc files or mrv embedded in the mp3?
MusiXmatch also offers API support afaik...

[2016-10-26 12:26] theweavrs commented on #17
MusiXmatch has an API, I will have to try it though. The site says they have synced lyrics, so this is a nice discovery.

[2016-10-26 12:29] theweavrs commented on #17
@DannyTalent Viewlyrics.com doesn't show lyrics at all. Gives a constant error "Failed to read lyrics content, please contact us to report this issue.". You try and tell.

[2016-10-26 12:38] DannyTalent commented on #17
@theweavrs Yeah I just noticed, no luck... And I think musiXmatch charges money for that...
LyricFind also offers API, and I found this article http://www.programmableweb.com/category/lyrics/api
I'd love to help you but I'm just now getting familiarized with C#

[2016-10-26 15:17] Bond-009 opened #18 "BreadPlayer installation failed"
Reason:
"Either you need a new certificate installed for this app package, or you need a new app package with trusted certificates. Your system administrator or the app developer can help. A certificate chain processed, but terminated in a root certificate which isn't trusted (0x800B0109)"
![error](https://cloud.githubusercontent.com/assets/21289123/19732145/1da3aaca-9ba0-11e6-8be1-f8a01a7af727.PN

[2016-10-26 15:26] Bond-009 commented on #18
After installing the certificate again it worked

[2016-10-26 15:26] #18 closed

[2016-10-26 15:32] Bond-009 commented on #17
What about being able to choose the background of the app?

[2016-10-26 15:50] theweavrs commented on #17
@Bond-009 What do you mean?

[2016-10-26 16:02] #15 closed

[2016-10-26 16:55] Bond-009 commented on #17
Now you see the cover under the list of songs but if you would be able to toggle it so it shows a costum image as background (also under the buttons) like this music player:
![example](https://cloud.githubusercontent.com/assets/21289123/19735918/c560e69e-9bad-11e6-8f6f-59f5aa7fb978.PNG)

[2016-10-26 17:10] Bond-009 opened #19 "Cover doesn't update if next song is coverless"
If you play a song with a cover and after that one without is still shows the cover of the last song

[2016-10-26 17:55] theweavrs commented on #19
Thanks for reporting this bug! Can you please give a screenshot where this bug occurs?

[2016-10-26 17:58] theweavrs commented on #17
@Bond-009 I have added this into the suggestion list, it's certainly a cool feature. More combustibility never hurts. If you have any other suggestions, please feel free to share!

[2016-10-27 09:15] theweavrs commented on #19
@DannyTalent can you reproduce this?

[2016-10-27 10:30] DannyTalent commented on #19
On mobile, nope. It shows an icon when it has no cover... On pc, well you'll have to wait a few hours..

[2016-10-27 14:14] theweavrs commented on #19
@DannyTalent Okay thanks!

[2016-10-27 14:40] theweavrs commented on #17
![opinion](https://cloud.githubusercontent.com/assets/7473959/19771691/397e0406-9c7d-11e6-9948-61a03cb88aac.PNG)

@DannyTalent @Bond-009 Opinions? Is this better or was the previous one better?

[2016-10-27 15:19] theweavrs commented on #14
I have fixed this temporarily, may or may not work for phone. I will check on emulator.

[2016-10-27 17:25] DannyTalent commented on #17
I think the previous one was better, I imagine that closing the hamburger would make it smaller though? If it does, then yeah this one might work better

[2016-10-27 17:42] Bond-009 commented on #19
I just tested it, some songs that are coverless have the cover of 1 other song while other coverless songs don't have a cover. (another music player displays them correctly)
![applicationframehost_2016-10-27_19-41-59](https://cloud.githubusercontent.com/assets/21289123/19778546/8dff6c72-9c7d-11e6-8c1a-3dad3cb70774.png)
![applicationframehost_2016-10-27_19-42-41](https://cloud.githubusercontent.com

[2016-10-27 17:45] Bond-009 opened #20 "Right-clicking on a song craches the app"
Right-clicking on a song crashes the app

[2016-10-27 17:48] DannyTalent opened #21 "Bad visibility on hamburger menu options"
Both PC (when the player window is small) and mobile, the transparent hamburger menu makes it so that it's hard to read the options
![image](https://cloud.githubusercontent.com/assets/23058301/19778073/b944dd8c-9c40-11e6-83d4-9a5bbea1d7e9.png)

It's even more noticeable on mobile, however
![wp_ss_20161027_0002](https://cloud.githubusercontent.com/assets/23058301/19778597/21853b4c-9c43-11e6-9006-96

[2016-10-27 18:09] theweavrs commented on #21
@DannyTalent I made the whole menu a solid color instead of transparent for precisely this reason. What's do you say? What color or combination would be better suited?

[2016-10-27 18:25] DannyTalent commented on #21
The current color looks fine, just not transparent. Maybeeee blur would make it look better. Accent color would probably work fine, too, and/or a really dark grey, kinda like what the old Settings app for W10 had (R: 23 G: 23 B: 23) with white text.

PS: I noticed some files from source code are in spanish, would you prefer me to talk in spanish? Cuz I speak spanish too lol

[2016-10-27 18:36] theweavrs commented on #21
No, no. English is absolutely fine 😄

The blur would have a very adverse effect on performance. Maybe I will try solid white-grey color or we can simply use accent color. Later on, we can make a setting for this.

[2016-10-27 18:49] DannyTalent commented on #21
Alright

Really? I mean myTube uses it (beta) on mobile, and it isn't really that slow... And the blur changes with the video, so I imagine there's quite a lot of processing happening..
Yeah, dark/light mode setting would be very nice

[2016-10-27 18:52] theweavrs commented on #21
Even so, this is a rather a risky thing and nothing we can't do without. I think we should reduce the transparency to a minimum and use the same setting.

[2016-10-27 18:56] DannyTalent commented on #21
Right. What about moving the whole screen to the right? As in, not making the menu, instead of coming from the left and overlapping on top of the screen. I think the ESL app does this

[2016-10-27 18:58] theweavrs commented on #21
You mean just overlapping the whole of the screen with the menu in the middle?

[2016-10-27 19:03] DannyTalent commented on #21
Well, that could work, too, I was thinking of moving the normally visible controls to the right, kinda like the old wp8.1 pivots... But yeah what you said sounds like a good idea. And probably easier to code!

[2016-10-27 19:08] theweavrs commented on #21
The search bar will have to be moved to somewhere more convenient. Besides that, all is well.

[2016-10-27 19:16] theweavrs commented on #21
![inline](https://cloud.githubusercontent.com/assets/7473959/19781666/bb271eae-9ca3-11e6-84aa-1f1b15af1346.PNG)

Did you mean this?

[2016-10-27 19:20] DannyTalent commented on #21
Exactly that, yeah

Ot: Hey if I made a small svg mock up of the app and suggested a few things (design wise) would you consider it? I really wanna help with the development of this app, it's pretty fun

[2016-10-27 19:21] theweavrs commented on #21
Of course, I would love that! Actually I would really appreciate that.

[2016-10-27 19:23] DannyTalent commented on #21
Alrighty, cuz I feel that some transparent dark screens would make it look a bit better but I'm not so sure, unless I see it. In a few days I'll send you one if I have something decent!

[2016-10-27 19:25] theweavrs commented on #21
Perfect!

[2016-10-27 19:47] theweavrs commented on #21
@DannyTalent I was thinking of moving the player bar to the bottom like in Groove. What do you say?

[2016-10-27 20:39] DannyTalent commented on #21
I think the current layout on mobile is perfect, maybe you can put it on PC as well!

[2016-10-27 20:49] DannyTalent commented on #21
Although it might be bad for ux... What about making it stay on top but have the buttons (next, pause, prev, shuffle, etc.) be on top of the progress bar so that there's some extra space on top

[2016-10-27 20:54] theweavrs commented on #21
I changed the mobile layout a bit, but basically its the same. I cannot transfer it to PC because I don't think it will look good on bigger screens.

What will we do with the extra space? Not a bad idea, btw.

[2016-10-27 21:31] theweavrs commented on #21
The problem with action center occurs on mobiles because of the notification bar.

I hid the whole play bar to free up all the space I could, I think its more...user-friendly that way. For two reasons: first that a user is not playing with the play bar all the time, so when he does want it he can press the button and voila!

The second reason is the hamburger menu button. It looks awful when place

[2016-10-27 21:34] theweavrs commented on #21
As to PCs, the second reason applies + the rectangle where currently playing song info is now showed. Placing the whole thing at the bottom will on one side make it more appropriate and on the other side we will have to get rid of the status bar. I have seen status bar right below the play bar and it looks weird.

[2016-10-27 22:18] #14 closed

[2016-10-27 22:19] #19 closed

[2016-10-27 22:19] #20 closed

[2016-10-28 02:30] DannyTalent commented on #21
Ohhh I see... It _might_ be a little hard to discover for an average user though if it's hidden. (Never underestimate end users!) Maybe a little animation later in development might help with that tho.

Which status bar? The one that says Nothing baking? What if you have it appear and disappear, kinda like a small, thin toast notification? Only when it's needed of course, or maybe with an X button

[2016-10-28 07:43] theweavrs commented on #21
How about if its visible on first use with the button to hide? That way the user will know that there _is_ a playbar :)

[2016-10-28 08:17] theweavrs commented on #21
@DannyTalent I have released a new alpha update, [go check it out!](https://github.com/theweavrs/BreadPlayer/releases/tag/v0.1.3-alpha)

[2016-10-28 13:10] theweavrs commented on #21
![inline](https://cloud.githubusercontent.com/assets/7473959/19807490/c1528386-9d39-11e6-9c3a-ec7b2b3320b0.PNG)

Do tell how it looks? Better or worse?

[2016-10-28 13:19] DannyTalent commented on #21
Yes! Loving that placement! I did get the new alpha for my phone, ty! You might wanna reopen the double song issue tho :/ it's still happening...

[2016-10-28 13:20] theweavrs commented on #21
Strange, it wasn't appearing in the emulator at all.

[2016-10-28 13:26] DannyTalent commented on #21
Yep... I'll record a video tonight to show you exactly what's happening.. Can't earlier because of classes :/

[2016-10-28 13:29] theweavrs commented on #21
Yes! That would certainly help a lot.

[2016-10-29 00:04] theweavrs opened #22 "Cannot add a single song into multiple playlists"

[2016-10-29 05:41] theweavrs opened #23 "AlbumView takes too much memory on initialize"

[2016-10-29 13:08] theweavrs opened #24 "Expanded AlbumView not loading the first song"

[2016-10-29 17:08] theweavrs commented on #16
@DannyTalent Any news?

[2016-10-29 20:05] #11 closed

[2016-10-29 20:05] #22 closed

[2016-10-29 20:05] #23 closed

[2016-10-29 20:05] #24 closed

[2016-10-31 03:05] DannyTalent commented on #16
Yeah man, sorry.. I had an exam on saturday so I was busy studying, and then I had to pick my camera up at a friend's house... Anyways, here's the video https://youtu.be/BrNmCtLO0Yg (should be up about 10 minutes after I comment this)

[2016-10-31 09:28] theweavrs commented on #16
No problem at all, man. We are all working people with busy lives. Nothing to be sorry for, I completely understand.

[2016-10-31 09:34] theweavrs commented on #16
@DannyTalent I think the streams aren't freeing up very nicely, that could be a problem. On the other hand, it may be device specific since it does not occur on PC or emulator.

If you have a friend or any one who has a Windows Phone you can try and test. See if it occurs on all devices. I will search for someone willing to test this too.

Anyways, thank you so much for all the effort and bug test

[2016-10-31 10:38] Bond-009 commented on #17
I think that a play all button for your whole library would be nice.

[2016-10-31 10:45] DannyTalent commented on #16
Same dude, I'm just apologizing cause I didn't get a chance to let you know I'd be late :p anyway, sadly that probably won't be possible, but I'll keep it in mind. It may be device specific yes.. But I'm not sure. Nope, not yet, I'll probably check it this Tuesday however, since I have a lot of free time.

[2016-10-31 16:51] theweavrs commented on #17
@Bond-009 Can you explain a bit?

_Side question: Do you have a windows phone?_

[2016-10-31 16:53] theweavrs commented on #16
@DannyTalent Even so, thanks a lot. Keep hunting. I will search for some people having Windows Phone.

[2016-10-31 21:53] theweavrs opened #25 "Add skipping over corrupt songs in the library"
**What happens:** Error message appears and the playing song restarts.

**What should happen:** Error message should appear and the corrupted song should be skipped to the next good song.

[2016-11-01 01:01] DannyTalent commented on #16
Alright... I opened the project and started [reading it....](https://www.youtube.com/watch?v=Ccoj5lhLmSQ)

[2016-11-01 08:16] Bond-009 commented on #17
@theweavrs There is a play all button in the playlists but not for the whole music library

*Yes I have a windows phone (8.1)*

[2016-11-01 08:53] Bond-009 commented on #16
I was able to reproduce this issue on PC.

[2016-11-01 09:01] Bond-009 commented on #16
I just tried to reproduce it while recording it and Bread Player crashed.

[2016-11-01 09:10] theweavrs commented on #16
@Bond-009 Can you tell me exactly how it occurred?

[2016-11-01 09:19] Bond-009 commented on #16
@theweavrs I double-click the play button of a song.

[2016-11-01 09:33] Bond-009 commented on #16
@theweavrs I recorded it: https://youtu.be/LErAQ4a366o
The video also shows that it doesn't display the cover's correctly, the song has no cover but it shows the cover from another song.

[2016-11-01 09:50] theweavrs commented on #16
@Bond-009 It _is_ a very serious bug. I wasn't experiencing this on PC but I will try again. Also, have you updated to the latest version i.e v0.1.3-alpha? Also, I witnessed some UI problems on your screen, specifically around the Hamburger Menu. Are you using a very large screen i.e greater than 1920x1080?

Thank you so much for all the effort and yes, the covers are also not updating.

[2016-11-01 09:51] theweavrs commented on #16
@DannyTalent @Bond-009 I will release the next alpha today with hopefully all these bugs fixed but if only I could reproduce them on my machine!

[2016-11-01 10:02] theweavrs opened #26 "Sort settings not saving on player close"
**What happens now:** Sort settings are not saved on close and player library is resetted every time.

**What should happen:** Sort settings should be saved and loaded.

[2016-11-01 10:04] theweavrs opened #27 "Navigation Bar appearing *white* in mobiles"
**What happens:** Nav bar appears fully white in place of its usual color.
**What should happen:** Nav bar shouldn't change its color.

[2016-11-01 10:08] theweavrs opened #28 "Not all songs being loaded."
**What happens:** If you load 1000 songs, some songs are not loaded.

**What should happen:** All songs should load into library.

_Remarks: I think this is a problem with file access permissions but I could be wrong._

@DannyTalent @Bond-009 Can you please try and reproduce this?

[2016-11-01 10:18] theweavrs opened #29 "Add version info"
There is no version info currently. This seriously needs to be acknowledged very soon.

[2016-11-01 12:33] DannyTalent commented on #16
Sweet.

[2016-11-01 13:09] DannyTalent commented on #28
I'm not sure how I'm going to count 1000 songs!

I did however find that it only detected (and loaded) 1327 out of 1449 songs, but I think that may be because it doesn't open all filetypes? This is my library, according to foobar2000:

Does bread player support FLAC / AAC / ALAC / WMA? Because if it doesn't then those numbers'd make sense.
After playing one song, the app hanged for a while and the

[2016-11-01 13:42] Bond-009 commented on #16
@theweavrs No my main monitor is 1920x1080. This UI bug happens sometimes, not always.

[2016-11-01 17:40] theweavrs commented on #16
I was also able to reproduce this. Its seems the previous stream isn't freed properly so that's why its causing all this.

[2016-11-01 17:54] theweavrs commented on #16
@DannyTalent @Bond-009 I have hopefully fixed this...this time for real but I am not sure. I will upload the package and then you test.

[2016-11-01 17:57] theweavrs commented on #28
@DannyTalent BreadPlayer does support all those formats but they were not added to the filters while library loading. Did that now so this must be fixed.

[2016-11-01 20:01] #29 closed

[2016-11-01 20:13] #27 closed

[2016-11-01 20:33] theweavrs commented on #16
@DannyTalent @Bond-009 New alpha is uploaded, go check it out.

[2016-11-01 20:59] DannyTalent commented on #16
Nope. Still there, though it's behaving strangely now. First I tried reproducing it and it _kind of_ happened: It was playing the same song 2 times, however, when I paused it, it stopped both streams. When I unpaused there were still 2. Then the same behavior happened just like in the last 2 alphas..

Also, one time, I tried to double click the song and it played one in the "background" (one of th

[2016-11-01 21:02] DannyTalent commented on #21
![wp_ss_20161101_0001](https://cloud.githubusercontent.com/assets/23058301/19907350/76282616-a04c-11e6-9279-fb8c8e41f7d4.png)
Controls don't show up when you just opened up the app. Even if you start playing a song. Closing and opening the tab fixes it, however

[2016-11-01 21:21] theweavrs commented on #21
yes, I missed those figures out. Fixing it now.

[2016-11-01 22:27] theweavrs commented on #16
@DannyTalent As much as I hate this issue I must fix it. 😆 So, now I have uploaded the updated the packages. Try it out now. I tested it and I couldn't reproduce it. Let's see what happens.

[2016-11-01 22:32] theweavrs commented on #28
@DannyTalent Try it out on the latest version.

[2016-11-01 23:34] DannyTalent commented on #16
Alright, here's my experience:

**ON PHONE:** Pretty bad.. It happens and now the app crashes much much more
**ON PC: ** Better. It does happen but as soon as I select a new song, it doesn't anymore. Sometimes, the double click crashes the app, though

[2016-11-01 23:46] theweavrs commented on #16
I just realized that this is not an issue and it will not occur if we load the songs normally and humanly. This only occurs when two commands are sent to load the song at almost the same time (which won't happen very often).

I added a method to clear up channels on every song play which will avoid loading channels one after the other until we have 10 songs playing at the same time. So that is wha

[2016-11-02 01:40] DannyTalent commented on #16
Well, accidental double tapping may happen, especially on mobile..
When clicking on the play button after performing a double tap, mostly

[2016-11-02 01:59] DannyTalent commented on #28
I reinstalled to make sure, since at first it only found 1327 again... And yes, it did get 1435 songs (in an impressive 63 seconds I must add, for an uwa). I get 1449 on AIMP just because one file has a .cue that splits it in 15 (including itself so.. 1449-14)

[2016-11-02 03:01] theweavrs commented on #16
Yes, you are right. I think if we check for the channel count (the number of channels currently playing) right after a song starts playing, and then if it is more than 1 we can "delete" the second channel (which is not possible without some extensive logging).

Anyhow, I will try and work around this issue. It is not as serious on PC, I try again and again to reproduce this especially after this l

[2016-11-02 03:03] theweavrs commented on #28
@DannyTalent So the issue is fixed! Anyways, I tested on an i7 and got 1119 song in 12-21 seconds (with and without albumarts). What hardware did you test on?

[2016-11-02 04:09] theweavrs commented on #16
@DannyTalent Updated again! Try and see if its fixed. _I couldn't reproduce this on PC._

[2016-11-02 04:53] MightyK1337 commented on #21
While using the dark theme, the letters for jump lists and the jump list is not visible.

[2016-11-02 05:22] theweavrs commented on #21
@MightyK1337  I will try and reproduce this.

[2016-11-02 05:23] theweavrs commented on #21
@MightyK1337 Is it visible in Light Theme?

[2016-11-02 05:38] theweavrs commented on #21
@MightyK1337 Reproduced and fixed. There was also a crash while jumping to a specific letter.

[2016-11-02 05:52] MightyK1337 opened #31 "Make breadplayer use the windows audio controls, especially on mobile"
Using windows audio controls, we can change the song anywhere, especially on the lockscreen without opening the app. currently we need to go to bread player to change the song. Also, we get overlapping songs, when songs are played on a different player, when bread player is also running.

[2016-11-02 05:58] MightyK1337 opened #32 "Bread Player crashing while loading huge number of songs"
I have about 1500 songs in my music folder. Bread player crashes after loading around half of the songs. This is making the app almost unusable.

[2016-11-02 06:03] DannyTalent commented on #28
FX-6300, also traditional mechanical HDD... Most songs have album arts

[2016-11-02 06:19] DannyTalent commented on #16
Alright, it's much better now... Though it still happens on phone if you try to. On PC it's much better, it may have happened only once (I'm pretty sure)... I think this _reset_ you've done glitches out the app after a few tries, I mean I tried to play a song the buggy way, and it played one background track of that song and one "normal" stream of the first track in my library...
After a couple tr

[2016-11-02 06:22] DannyTalent commented on #16
Have you tried just disabling the button for like 0.1s after it registers a tap?

[2016-11-02 06:22] theweavrs commented on #31
You are talking about SMTC. Yes, I am still trying to make those work, there seems to be some problem that they do not appear. In PC on the other hand, they do appear (if you press the volume up/down button on your keyboard if it is there.).

As for overlapping songs, I will try and research about that. BreadPlayer uses Un4Seen Bass so it is quite different and when you play a song from another pl

[2016-11-02 06:25] theweavrs commented on #28
My collection had 515 album arts but I guess I had the advantage of songs being saved in memory (I test with these a lot.) so overall good results but can be made better. 63 seconds are too long for big libraries. Imagine 10,000 songs...haha!

[2016-11-02 06:26] theweavrs commented on #32
This is strange, there must be some corrupt song or empty song there on which BreadPlayer crashes. I will try and add an exception handler around this.

[2016-11-02 06:28] theweavrs commented on #16
@DannyTalent yup! That's a good workaround. I will try that.

[2016-11-02 06:28] MightyK1337 commented on #32
Also there is this crashing issue when sorting the songs. the app almost always crashes when sorting.

[2016-11-02 06:29] theweavrs commented on #16
And that crash is because of Access Denied exception while saving the song info in a text file. I guess I will have to remove that.

[2016-11-02 06:30] theweavrs commented on #32
Yup! I fixed that a few minutes ago.

[2016-11-02 09:46] theweavrs commented on #31
@MightyK1337 I was able to add basic support for SMTC, I may release a new alpha in a few days. Its getting pretty stable for an alpha, don't you think? I played around with Bread for more than an hour, playing and doing all kinds of stuff. It never crashed even once. But I know an hour is too less a play time.

Anyways, @Bond-009 @DannyTalent @MightyK1337 there is still a lot of testing left. Spe

[2016-11-02 11:12] MightyK1337 commented on #31
Currently v0.1.4 is crashing very frequently to the point of being unusable. So if a later version with all the new changes is published, it would be easier to test.

[2016-11-03 01:09] #26 closed

[2016-11-03 01:37] #25 closed

[2016-11-07 10:57] theweavrs commented on #16
@DannyTalent @Bond-009 @MightyK1337 Hello! I just released a new Alpha. Would you please be kind enough to give it go? Here's the link. [Alpha-1.5](https://github.com/theweavrs/BreadPlayer/releases/tag/v0.1.5-alpha)

[2016-11-07 11:20] DannyTalent commented on #16
Alright, it either doesn't happen anymore or it's extremely more difficult to reproduce! Still however, the app crashes a lot so I can't provide much feedback :/

[2016-11-07 11:27] theweavrs commented on #16
Crashes. Can you give me a few hints as to where the app crashes?

[2016-11-07 11:36] DannyTalent opened #33 "Crash after creation of playlists"
After about 5 (maybe 6, at most) playlists are very slow to create, for the seventh I used Japanese characters and the app crashed, now it crashes every time I load it... Not sure if it's the number of playlists or the characters (both in name and description)... When opened, the app shows 0 playlists, when you click on the (➕ ) it shows a blank menu (no options) after a few seconds, it becomes un

[2016-11-07 11:44] theweavrs commented on #33
Yup! Playlists area is still unrefined. Can you elaborate on that slow part? Does the player lag? Or is it a slow process (since you have to add one by one.)?

[2016-11-07 11:44] DannyTalent commented on #16
I'm not being specific because it's very random... When clicking on a song, when creating a playlist, when playing a song, etc.

Anyway, can't do any more because as you can see in the new issue, I goofed it 😅

[2016-11-07 11:49] theweavrs commented on #16
Ha! I will release a patch as a quick fix for all the crashes (exception handlers) in an hour or two. You can try it again then.

Anyhow, how do you find the new UI changes?

[2016-11-07 11:51] DannyTalent commented on #33
Nvm, they loaded after a few tries, took around 10 seconds and the UI was completely unresponsive during the process. Background music did work fine during this

[2016-11-07 11:54] theweavrs commented on #33
Hmm...I will have to reproduce this to fix it. Seems like they are loaded on the UI thread hence the unresponsiveness. Can you reproduce this on PC too? (I hope not.)

[2016-11-07 11:59] DannyTalent commented on #33
I have classes till 9pm haha, I will however test it tomorrow as soon as I can!

[2016-11-07 12:00] theweavrs commented on #33
Sure! :laughing:

[2016-11-07 12:18] DannyTalent commented on #16
I like the icons! Album view might need some more spacing on the accent-colored squares that surround the album when you select it (a bit more on the sides). Playlists menu can't be scrolled through

found a little bug, will post on the UI issue

[2016-11-07 12:19] DannyTalent commented on #21
http://imgur.com/a/CPj5y (can't upload here, on mobile) it's from bottom to top, the 1st one shows landscape mode, a little awkward with the song info and the hamburger menu... Then, when u go back to portrait, the hamburger button from the playlist, which usually is transparent (as in the top pic), goes red (accent color).

[2016-11-07 12:23] theweavrs commented on #21
Yes. This is certainly a bug in the UI adaptation to different screens. Fixing right away!

[2016-11-08 14:28] DannyTalent opened #34 "Music library not loading at all"
I uninstalled 0.1.4 and installed 0.1.5 and well... Nothing's loading now, at first it showed 0 songs loaded 0 seconds or something like that, but now "Nothing baking".

I tried drag and drop but it crashed the app...
Tried to reproduce this on mobile and it seems it isn't loading anything there either.

[2016-11-09 15:52] Bond-009 commented on #32
I installed the latest release added my songs and it crashed while loading them. Now, the app crashes each time it starts.

[2016-11-13 14:08] #16 closed

[2016-11-13 14:08] #28 closed

[2016-11-13 14:08] #31 closed

[2016-11-13 14:08] #32 closed

[2016-11-13 14:08] #33 closed

[2016-11-13 19:37] theweavrs commented on #32
@Bond-009 @DannyTalent Sorry for replying so late 😞 I was so busy with the player, didn't find any time to actually reply.

Anyways, I have released a new alpha after continuous development and fixing bugs, and I am certain this one is way more stable than the last (which was a mistake).

I would love it if you guys give it a go! [Alpha-1.6](https://github.com/theweavrs/BreadPlayer/releases/tag/v0

[2016-11-14 02:25] DannyTalent commented on #34
Still present in 0.1.6...
Uninstalled 0.1.5 and when I selected my music folder, no songs were loaded

[2016-11-14 02:34] DannyTalent opened #35 "Crash while attempting to create a playlist"
When the library is empty (<- May or may not be a condition), attempting to create a new playlist, and hitting Cancel, the app will unexpectedly close

[2016-11-14 02:36] DannyTalent opened #36 "Crash opening playlist on empty library"
When the library is empty (i.e. no songs scanned), and opening an imported playlist (m3u, pls, etc.), the app will show 0 songs and crash..

[2016-11-14 03:25] theweavrs commented on #34
Have you tried drag and dropping songs into library? I am not experiencing this issue.

[2016-11-14 03:35] theweavrs commented on #34
Try resetting the player and loading the library again. See if it occurs.

[2016-11-14 03:51] theweavrs commented on #34
@DannyTalent I fixed the other two issues and tweaked this one a bit.

Try the update: [Alpha-1.6.1](https://github.com/theweavrs/BreadPlayer/releases/tag/v0.1.6.1-alpha)

[2016-11-14 05:11] DannyTalent commented on #34
![image](https://cloud.githubusercontent.com/assets/23058301/20254003/689d186a-a9fe-11e6-9d91-bc5c51ccaf06.png)
Nope

And I swear I do have songs in there!
![image](https://cloud.githubusercontent.com/assets/23058301/20254008/77e9c020-a9fe-11e6-8b94-913c598fd1d9.png)
Drag and drop seems to work fine.. Though I dragged the whole folder and got this (after dragging 21 Guns)

![image](https://cloud.g

[2016-11-14 05:48] theweavrs commented on #34
Try making a separate small folder some place else in your drive and putting some songs in their and then scanning that folder.
As I can see from the results, the player isn't scanning the folder at all.

[2016-11-14 05:52] theweavrs commented on #34
About the drag/drop: It is not possible (yet) to drop folders. Only files are supported for the moment.

[2016-11-14 06:43] MightyK1337 commented on #34
This issue is present in Mobile too. I tried resetting the setting, selecting a small folder with very few songs, but it is still showing that nothing is available, along with the link to select folders again.

[2016-11-14 06:57] theweavrs commented on #34
@MightyK1337 I am updating the package again with some changes and extended error reporting. Let's see if it works.

I cannot reproduce this issue at all. All my songs are loading and playing fine.

@DannyTalent If you have access to your PC, can you please go into your music folder and enter this in the search bar: "kind:music" (without quotes)? See if any results come up.

[2016-11-14 07:37] #35 closed

[2016-11-14 07:37] #36 closed

[2016-11-14 10:34] DannyTalent commented on #34
Uhh, nope, nothing...

![image](https://cloud.githubusercontent.com/assets/23058301/20261432/af978a16-aa2b-11e6-86b6-2a31b2a5de49.png)

Still getting the same error...
![image](https://cloud.githubusercontent.com/assets/23058301/20261470/ecc04338-aa2b-11e6-8272-166992bf8960.png)

After this, "nothing baking"

[2016-11-14 10:57] theweavrs commented on #34
I know where the problem is!! It is in the AQS query I was using to get all the music files from the directory. I will fix this right away and update!

[2016-11-14 11:43] theweavrs commented on #34
@DannyTalent @MightyK1337 Fixed and updated! Go and check it out now! [Alpha-1.6.1](https://github.com/theweavrs/BreadPlayer/tree/v0.1.6.1-alpha)

[2016-11-15 06:40] MightyK1337 commented on #21
Alphabets for jump lists not visible.

[2016-11-15 09:55] theweavrs commented on #21
@MightyK1337 In dark theme or light?

[2016-11-15 13:17] MightyK1337 commented on #21
It is the dark theme.
Also - don't know if this is a issue- when the first time i play something and navigate from the app, song stops playing. I need to go back to app and then navigate to others for it to work in background.

[2016-11-15 13:51] theweavrs commented on #21
I will surely investigate this further.

[2016-11-15 13:53] theweavrs commented on #21
@MightyK1337 Can you explain the exact steps to reproduce this new issue?

[2016-11-16 02:21] #34 closed

[2016-11-16 02:22] DannyTalent opened #37 "Minimizing stops playback"
Minimizing the app on PC stops playback

[2016-11-16 02:24] DannyTalent commented on #17
Maybe an option to resume a song when you plug in your headphones (if the song is paused, of course) like foobar's

[2016-11-16 02:26] DannyTalent opened #38 "Album view not loading"
After 1.6.0, albums aren't loading... Library load time is excellent, album cover load time is pretty slow however, and once it's done, it won't show up. Tried closing and reopening the app, to no success

[2016-11-16 02:31] DannyTalent opened #39 "Audio cuts and jumps on Mobile"
(Optimization?) Lumia 735, experiencing audio cuts and sometimes quick jumps, frequently. The phone doesn't have many apps opened, no more than normal.

Happens both with the app on screen (happens just as much) and background

[2016-11-16 03:05] theweavrs commented on #17
@DannyTalent Can you explain a bit? I don't quite get what you mean.

[2016-11-16 03:11] theweavrs commented on #38
This is also occurring on the emulator. I am trying to fix this.

[2016-11-16 03:12] theweavrs commented on #39
How many songs did you load into the library?
Did you open the album view by chance?

[2016-11-16 03:52] DannyTalent commented on #17
@theweavrs Let's say your phone is playing on loudspeaker, but then you pause for a second maybe because you're playing a game and want to hear the sounds of the game app.

And then, you plug in your headphones, and the app will continue the song by itself

[2016-11-16 03:54] theweavrs commented on #17
@DannyTalent I will research and see if this is possible. If there is an event to know that something connected...then it is certainly possible.

[2016-11-16 03:58] DannyTalent commented on #39
**How many songs:** Around 607
**Did I open album view?: **Yes, but even when I "cold started" the app and only opened the library, it happens
**Size of song:** Happens on most/all songs. But one example is a 3:06, 7.22 MiB MP3 file
**Does it occur on other players? **Not on Groove, not on foobar2000

[2016-11-16 04:09] theweavrs commented on #39
Or perhaps there is some stream parsing problem. Can you send one file on which it was occurring for testing?

[2016-11-16 05:14] DannyTalent commented on #17
Yeah man I mean it has to be lol, foobar does it as an advanced option

I find this especially helpful for me because my headphone jack has been starting to fail (this phone is a bit old) and sometimes doesn't recognize my headphones or stops detecting them in certain positions... Which makes music stop on most players

[2016-11-16 05:32] DannyTalent commented on #39
I don't think it's the audio file, because PC bread player can play it with no issue

Here's the [original file ](https://1drv.ms/u/s!Aj8wj2HQapfdopYzV_5K4-NBP6nXxw)(hosted on OneDrive not here bc copyright maybe)

[Here's that file played on Bread Player on Mobile](https://1drv.ms/u/s!Aj8wj2HQapfdopY2zmZnBMMgvOd5MQ)
[Here's that file played on Groove on Mobile](https://1drv.ms/u/s!Aj8wj2HQapfdopY

[2016-11-16 05:36] DannyTalent opened #40 "Songs not stopping automatically when they should"
This is mobile only. There's 2 things that come with this bug:

1. When playing a file on BP and then trying to play another one on, for example, Groove, or playing a game which normally stops music, the music doesn't stop. Consequently, the songs overlap.
2. When this happens, SMTC only shows info for the new song (the one playing on Groove) or none at all (for example, after playing a video) and

[2016-11-16 05:38] DannyTalent commented on #40
It doesn't happen both ways, however (i.e. if I'm playing a song on Groove and then try playing it on BP, the Groove song **does** stop)

[2016-11-16 05:53] theweavrs commented on #40
If Groove can stop music then it is certainly possible. I will look around...maybe there is a way.

[2016-11-16 06:11] theweavrs commented on #17
@DannyTalent Would it be cool if it happened on PCs too?

[2016-11-16 10:04] DannyTalent commented on #17
Probably, as an option.. I don't really listen to music on pc all that much so I don't really know :/

[2016-11-16 10:26] theweavrs commented on #17
@DannyTalent It is certainly possible to implement this behaviour. Basically, when the headphones are plugged in the music will automatically start and when they are plugged out, it will stop.

[2016-11-16 10:30] DannyTalent commented on #17
The music stopping is regular behavior I believe, but yeah it's an added plus

[2016-11-16 10:31] theweavrs commented on #17
Excellent!

[2016-11-16 11:29] Bond-009 commented on #17
Will you make it a setting, so you can disable it?

[2016-11-16 11:33] theweavrs commented on #17
@Bond-009  You mean a setting for "auto play when headphone is connected"?

[2016-11-16 13:13] Bond-009 commented on #17
@theweavrs Yes

[2016-11-16 15:50] #37 closed

[2016-11-16 15:50] #38 closed

[2016-11-16 15:50] #40 closed

[2016-11-18 11:12] MightyK1337 commented on #21
Sorry for the late reply.
1. Play a song
2. navigate away from the app like pressing the home key
3. the song stops playing
4. navigate back to the app, by pressing the back key or from task switcher
5. song starts playing again.
6. now navigate away from the app again.
7. the song will continue to play in background

Expected behavior: song should continue to play in the background,even when navi

[2016-11-18 11:14] MightyK1337 commented on #39
It happens for a lot of songs not just a particular one and even on headphones, at least for me.

[2016-11-18 11:37] theweavrs commented on #39
@DannyTalent  @MightyK1337  As it doesn't happen in the emulator, I have uploaded a test package
 with some changes for you guys to check out if this occurs again.

Here's the direct link: [Alpha-1.6.1-test](https://github.com/theweavrs/BreadPlayer/releases/download/v0.1.6.1-alpha/BreadPlayer.Core_0.1.6.0_arm.appxbundle)

_Basically, I removed SMTC as I suspect that is what's causing the issue. I

[2016-11-18 16:01] DannyTalent commented on #39
True. I could reproduce it on the last alpha, but not on the new one
Also the bug reported by @MightyK1337 at #21 seems fixed

_Side note: The first time I tried to play a song, the app crashed_

[2016-11-18 16:09] theweavrs commented on #39
As I suspected! I will try a few things to fix this without removing SMTC.

[2016-11-18 17:56] theweavrs commented on #39
@DannyTalent Please test this one out: [Alpha-1.6.1-test-2](https://github.com/theweavrs/BreadPlayer/releases/download/v0.1.6.1-alpha/BreadPlayer.Core_0.1.6.1_arm.appxbundle)

_Side note: You may experience cuts and jumps in the background. Aside from that, SMTC will now be working flawlessly (I hope)._

[2016-11-18 19:56] theweavrs opened #41 "PlayBar show/hide button not visible in phones with software buttons"
![screen](https://cloud.githubusercontent.com/assets/7473959/20444700/e7c34544-adf3-11e6-8b4b-91af9b2e6077.png)

_Tested on emulator with 4.0 inch screen._

[2016-11-18 22:58] DannyTalent commented on #41
Works normally on L735

[2016-11-19 08:30] theweavrs commented on #41
Must be a glitch with the emulator then.

[2016-11-19 08:30] #41 closed

[2016-11-19 08:30] theweavrs commented on #39
@DannyTalent Updates?

[2016-11-19 22:33] DannyTalent commented on #39
Crap, I forgot to check this issue, and my email, sorry!
Good to see some animations now! (or maybe I just noticed it now?)
SMTC works alright. Background audio stops itself when I "minimize" the app (eg. navigate to another app or press the Windows button) but can be played again manually, jumps and cuts are waaaaaaay less than before, but certainly still (rarely) present.

[2016-11-20 04:53] theweavrs commented on #39
Oh yes, I fixed that issue.

About the cuts and jumps, I am glad that it occurs way less now but it still does so I will have to tweak some other things as well.

I have a question: In which state does it occur more? Background or foreground?

[2016-11-20 06:52] DannyTalent commented on #39
Definitely on the background. Playing a game (candy crush soda so it's ported, and a bit resource intensive) I noticed it happening, as well as while browsing on Edge.
Audio cuts only, tho... I've noticed they happen waaay less but are longer now (less than a second, but longer than before)

[2016-11-21 17:46] theweavrs commented on #12
LiteDB it seems has improved tremendously, it will do for now.

[2016-11-21 17:46] #12 closed

[2016-11-22 19:39] Bond-009 opened #44 "Clicking on the end of the progressbar doesn't work"
If you click on the end (last 2sec or so) of the progress bar the song just keeps playing and doesn't go to the end.

![2016-11-22_20-33-30](https://cloud.githubusercontent.com/assets/21289123/20538950/a09812c8-b0f3-11e6-9ee7-a5666078e057.gif)

[2016-11-22 20:33] Bond-009 opened #45 "Music stops when minimized"
The music stops playing when the app is minimized.
(if this is a feature please make it an option ;) )

[2016-11-22 20:36] Bond-009 opened #46 "Shuffle doesn't work in Music Library"
If you press shuffle in the Music Library it throws an ArgumentOutOfRangeException

![2016-11-22_21-34-13](https://cloud.githubusercontent.com/assets/21289123/20540979/8a60e61c-b0fb-11e6-8b48-234ecd498744.png)

[2016-11-22 20:47] theweavrs commented on #45
This was fixed, you'll see it in the next alpha. Thanks for reporting.

[2016-11-22 20:47] #45 closed

[2016-11-22 20:48] theweavrs commented on #46
This was also fixed, coming in the next alpha.

[2016-11-22 20:48] #46 closed

[2016-11-22 20:49] theweavrs commented on #44
I can reproduce this and I am working on it.

[2016-11-22 20:56] Bond-009 opened #47 "Controls in preview not enabled"
The controls in the preview are not enabled when playing from the Music Library, but the normal controls are enabled.
![applicationframehost_2016-11-22_21-52-00](https://cloud.githubusercontent.com/assets/21289123/20541658/7b8fa7ce-b0fe-11e6-8836-0162d816ba1d.png)
![2016-11-22_21-50-54](https://cloud.githubusercontent.com/assets/21289123/20541659/7b906010-b0fe-11e6-9013-d6adbe5e0531.png)

[2016-11-22 22:25] DannyTalent commented on #47
Minimizing and then pressing the volume button on keyboard/device (thus opening the W10 SMTC) seems to fix this, oddly...
![image](https://cloud.githubusercontent.com/assets/23058301/20544561/abb68254-b0d8-11e6-99c3-cf4f47fa1a64.png)

[2016-11-23 17:46] #44 closed

[2016-11-23 20:06] hildebrandt87 opened #48 "Crash after deleting a song added via drag and drop"
Add a file via drag and drop to the music libary.  After that, play it for a few second and then delet it again. The player will break up instantly.
Tested on two systems (windows 10 Pro and Home) Latest updates installed..

[2016-11-24 09:31] theweavrs commented on #48
I can reproduce this, thanks for reporting.

[2016-11-24 09:31] #47 closed

[2016-11-25 04:15] #48 closed

[2016-11-25 05:16] #3 closed

[2016-11-25 05:17] #2 closed

[2016-11-25 21:52] Bond-009 opened #50 "Crash when clicking on menu item with empty library"
I have build the app from source and when I click on Recently Played, Music Library or My Albums when my library is empty the app crashes.

[2016-11-25 22:18] hildebrandt87 commented on #50
You click back and forth between Recently Played, Music Library or My Albums ?
In which function stops the debugger ?

[2016-11-26 03:00] theweavrs commented on #50
Yes, I can reproduce this.

For the moment, [just delete this line.](https://github.com/theweavrs/BreadPlayer/blob/master/BreadPlayer.Core/ViewModels/LibraryViewModel.cs#L467)

[2016-11-26 10:56] #50 closed

[2016-11-26 14:33] Bond-009 commented on #8
I have tried it: https://github.com/Bond-009/BreadPlayer/tree/Dev
Is this what you want or do I need to do it differently?

[2016-11-26 14:59] theweavrs commented on #8
@Bond-009 This is a good start, I will write a more detailed explanation to guide you.

Basically, we have to separate all the UI specific code into BreadPlayer.Views.UWP and all the non-UI code into BreadPlayer.Core (Portable Class Library).

To be more specific, **.Views will contain all the ViewModels and the Views, all .xaml files, HamburgerMenu, Extensions, Dialogs, Behaviours, and other code

[2016-11-26 15:36] Bond-009 commented on #8
@theweavrs ThreadSafeObservableCollection gives me a lot of trouble, it uses Windows.UI.Core and it's used in Core features

[2016-11-26 16:06] theweavrs commented on #8
@Bond-009 `CoreDispatcher` is the culprit here as it is platform-specific. We will have to implement an alternative to replace this. For instance [an extension class for `Task` or `SynchronizationContext`](http://stackoverflow.com/a/19226432).

[2016-11-26 17:04] Bond-009 opened #51 "Next button doesn't work"
After you fixed #50 next doesn't work anymore.
Pressing the play button of a song doesn't work either. => line 397 of `LibraryViewModel.cs`
`TracksCollection.Elements.FirstOrDefault(t => t.Path == Player.CurrentlyPlayingFile.Path).State = PlayerState.Playing;`

[2016-11-26 18:48] #51 closed

[2016-11-26 19:51] Bond-009 opened #52 "Next crashes the app"
#51 isn't really fixed, it's better now but sometimes it crashes the app
ex: press +-5 times next and it crashes

[2016-11-26 21:01] theweavrs commented on #52
Yes, it does crash. I will investigate this further.

[2016-11-26 21:17] theweavrs commented on #52
[This commit](https://github.com/theweavrs/BreadPlayer/commit/dda74dd4cfff6e0173541977eb4fe55ef59ace62) should fix the bug.

[2016-11-27 11:01] Bond-009 commented on #52
It doesn't crash the app anymore but now it sometimes pauses the song.

![2016-11-27_12-00-35](https://cloud.githubusercontent.com/assets/21289123/20647905/2b04b008-b499-11e6-8c70-fd3d36781d9a.gif)

[2016-11-27 13:23] Bond-009 opened #53 "Search doesn't work"
Searching doesn't work

[2016-11-27 14:25] Bond-009 opened #54 "Black window after minimize"
If you minimize the app for a long time while there is no song playing and open it again BreadPlayer is just black.

[2016-11-27 14:30] theweavrs commented on #54
I will look into this.

[2016-11-27 18:54] #53 closed

[2016-11-27 19:09] #54 closed

[2016-11-27 20:39] Bond-009 commented on #8
Should we merge it now and build upon it or should we wait?

[2016-11-28 04:37] theweavrs commented on #8
The codebase won't expand much now until the beginning of beta version. I think we should wait for now until the Beta to avoid any additional bugs.

[2016-11-29 20:08] Bond-009 commented on #52
Still not fixed, it still pauses.

[2016-11-30 13:14] theweavrs opened #55 "Player hangs when searching."

[2016-11-30 14:52] #55 closed

[2016-11-30 17:03] DannyTalent opened #56 "Album covers not loading"
![image](https://cloud.githubusercontent.com/assets/23058301/20762533/ab2a1ce8-b6f4-11e6-93a5-0ca6e3d45409.png)

On 0.1.7 (PC)
I've noticed a few things, the rest in here are minor, so I wasn't sure if I should've created a separate issue for each!
1. Album covers aren't loading - Tried
2. Version still says v0.1.6.1-alpha
3. One thing that was pretty cool back in 1.4 is that the music folder was

[2016-11-30 17:13] theweavrs commented on #56
I cannot reproduce issue no. 1 as all my album arts are loading perfectly but I will check this further.
I forgot to update the version no.
As for no. 3 I was also curious why this is happening, I will tinker around a bit and see if the behaviour can be turned around.

[2016-11-30 17:22] DannyTalent commented on #56
Try uninstalling and reinstalling BP... I do that every time there's a new alpha

Btw is there a place where I can submit a logo that maybe you can use? I redid the same logo because it looks a bit aliased (the bp)

[2016-11-30 17:24] theweavrs commented on #56
imgur will do fine or you can upload it here (quality isn't decreased).

[2016-11-30 17:26] DannyTalent commented on #56
Just here? Well here it is:
![rect4147](https://cloud.githubusercontent.com/assets/23058301/20763439/08987516-b6f8-11e6-92d0-cdb51d562f0e.png)
And here's in SVG for if you do end up using it 👍
[bp_logo.zip](https://github.com/theweavrs/BreadPlayer/files/622509/bp_logo.zip)

[2016-11-30 17:32] theweavrs commented on #56
Thanks for the logo, I will certainly use it 😄

As you can see below, all album arts are loading fine:
![testing](https://cloud.githubusercontent.com/assets/7473959/20763606/86eb2b76-b74c-11e6-9238-103ae936dc73.PNG)

[2016-11-30 17:35] DannyTalent commented on #56
Glad to help!
![image](https://cloud.githubusercontent.com/assets/23058301/20763765/6a2135f6-b6f9-11e6-9131-da958fa90751.png)
Hmm, maybe there's something wrong with my library... It does load the songs normally but... It doesn't go through the "Loading album arts" step

[2016-11-30 17:37] theweavrs commented on #56
@DannyTalent Oh! I removed that step because it was slower overall. It loads the library in one step now.

[2016-11-30 18:02] DannyTalent commented on #56
Well, I restarted, uninstalled and tried reinstalling but now it's stuck at 98% for some reason... Let's see if someone else can reproduce this

[2016-11-30 18:09] theweavrs commented on #56
@DannyTalent That's strange. You should close the installer and run it again.

[2016-11-30 19:12] theweavrs commented on #39
@DannyTalent Is this still present in 1.7-alpha?

[2016-11-30 19:17] theweavrs commented on #56
@DannyTalent I am sure the issue is in "Always show icons, not thumbnails" because the player saves thumbnails as album arts. I will have to read albumarts from ID3 tags to fix this.

Thanks a lot.

[2016-11-30 19:47] DannyTalent commented on #39
It does happen, not much, but it's quite inconsistent... Sometimes it will work with a few jumps for several minutes and sometimes the audio just gets fubar... But it's only happened to me once, when the phone was quite hot

[2016-11-30 19:49] DannyTalent opened #57 "Bread Player bypasses all equalizer settings"
On mobile, the global equalizer doesn't seem to work, for BP only. Neither does audio virtualization and, I assume, dolby headphones.

[2016-11-30 20:01] theweavrs commented on #57
@DannyTalent Yes, it is quite impossible to make those work as BP uses a different audio API underneath. For global equalizer to work, BP would have to use same old MediaPlayer API. Equalizer will be implemented in the upcoming Beta.

[2016-11-30 20:45] #57 closed

[2016-12-01 00:31] DannyTalent commented on #56
Yeah, I thought so, too...
Helps for future issues!

[2016-12-01 13:22] theweavrs commented on #39
@DannyTalent I reproduced this on the emulator and it happens regardless of the SMTC. I think this issue is caused by high resource usage or low memory limit. Though, I wasn't able to get any message regarding low memory limit reached etc.

I think, on the background the app is given less memory and cpu because of which the audio stream buffering is slow, and audio cuts and jumps.

I will consult

[2016-12-01 19:04] DannyTalent commented on #39
I think there's a task manager-esque app that shows you, though it needs some special access.. I'll report anything I can if I do find it

[2016-12-01 19:19] theweavrs commented on #39
@DannyTalent I did some of my own testing and it seems I am right. The OS puts a CPU limit on the player or maybe the BASS does that itself. Anyways, I saw > 2% usage of BASS on the foreground while on the background it was < 1%. So I am now sure where the problem is.

[2016-12-01 20:01] Bond-009 commented on #52
It still pauses, but it doesn't happen as often anymore.

[2016-12-01 20:07] Bond-009 commented on #52
First time it happens it gives this error

![2016-12-01_21-02-51](https://cloud.githubusercontent.com/assets/21289123/20810436/095a7fc2-b80a-11e6-9239-0932b78364ee.png)

[2016-12-01 20:46] theweavrs commented on #52
Can you make sure that the songs on which it occurs are complete and not corrupt? Also, check if it happens on the same songs again and again.

_I could reproduce this by clicking on the next button repeatedly *really* fast. Is it the same for you?_

[2016-12-01 20:55] Bond-009 commented on #52
If the player is paused next works, if it's playing klicking on the next button repeatedly really fast pauses it.

[2016-12-01 21:05] theweavrs commented on #52
@Bond-009 I will see if I can reproduce this again. Thanks for reporting.

[2016-12-01 21:19] DannyTalent opened #59 "Songs not following logical order"
When sorting by:

- Year
- Album
- Artist

The songs don't follow a logical order, instead they follow an order as if they were sorted by Title.
Unsorted and Title do work fine, though.

![image](https://cloud.githubusercontent.com/assets/23058301/20812974/b2b2c3d2-b7e1-11e6-8364-e478a8b96556.png)

[2016-12-01 21:21] DannyTalent opened #60 "Jump Lists on Year sort unnecessary / need change"
There's no point on having an A to Z jumplist when sorting by year, since every year is an integer... Maybe make it so the jump list shows each year (similar to the photos app, but without the months part)

[2016-12-02 03:15] theweavrs commented on #60
I am still working on the Year sort. Apparently, the library that I have has more songs with empty Year tag than with filled so it is a little harder to test.

Working on this...

[2016-12-02 03:18] theweavrs commented on #59
Confirmed and in progress.

[2016-12-02 05:54] theweavrs commented on #17
@DannyTalent @Bond-009 How about a compact mode on PCs? Something like VLC when you reduce the height to minimum, perhaps.

[2016-12-02 11:08] theweavrs opened #61 "Slow startup"
The app startup time ranges in seconds when it should be under 1s.

[2016-12-02 15:24] Bond-009 commented on #17
@theweavrs That would be a nice feature.

[2016-12-02 18:06] Bond-009 commented on #52
I think i found the issue (and a second bug), some song get loaded 2 times and it pauses on the second one.
![applicationframehost_2016-12-02_19-06-24](https://cloud.githubusercontent.com/assets/21289123/20844896/71eab080-b8c2-11e6-971d-0592b929ec3a.png)

[2016-12-02 18:20] theweavrs commented on #52
Can you make sure this song is loaded 2 times always? And also that this bug occurs on this song always.

[2016-12-02 18:26] Bond-009 commented on #52
@theweavrs there are multiple double song and each time I restart the player it are different ones.

[2016-12-02 18:28] theweavrs commented on #52
@Bond-009 Are you using the most recent build? I noticed it just today after implementing the sort functions.

[2016-12-02 18:29] Bond-009 commented on #52
Yes I am

[2016-12-02 18:31] theweavrs commented on #52
I gotta track this down. *sigh*

[2016-12-02 18:39] theweavrs commented on #52
@Bond-009 Join [BP's Gitter Chat Room](https://gitter.im/BreadPlayer/Lobby).

[2016-12-02 20:21] theweavrs commented on #60
@DannyTalent Join the [BP's Gitter Chat Room](https://gitter.im/BreadPlayer/Lobby) to stay updated (also so that testing gets a little easier 😄 ).

[2016-12-03 03:13] MightyK1337 commented on #21
![wp_ss_20161203_0001_ink_li](https://cloud.githubusercontent.com/assets/15900598/20856419/3e44427e-b934-11e6-8dd8-9fcd40cdcd0d.jpg)

Remove the now playing bar highlighted, when nothing is being played. We can look at more number of songs, if it is removed. also improves usability

[2016-12-03 03:15] MightyK1337 commented on #21
![wp_ss_20161203_0002_ink_li](https://cloud.githubusercontent.com/assets/15900598/20856433/99323e20-b934-11e6-84bf-233343219102.jpg)
This arrow appears after using the jumplist. pressing it does not work and after this appears, the jump list also stops working.

[2016-12-03 03:37] MightyK1337 opened #63 "Audio does not play in the background"
1. When the navigation is away from the app like pressing the home button or back button
2. When lockscreen time out sets in and phone locks when playing the song.

Ideally, the song should continue playing in the above scenarios, but the song is getting paused, and we need to go to the player and press the play button to play the song again. This is different from the suggestion in #21 where if w

[2016-12-03 05:14] theweavrs commented on #63
@MightyK1337 This is strange, I just tested this last night and it was working without an issue. I will test again. Do tell me about auto-library loading and any other bugs you may find :)

[2016-12-03 05:15] theweavrs commented on #39
@DannyTalent Please give this one a try again in the latest alpha. I am hoping this is fixed now...

[2016-12-03 05:31] theweavrs commented on #63
@MightyK1337 I can't reproduce this in the emulator. @DannyTalent Can you give this a go?

[2016-12-03 06:22] DannyTalent commented on #63
What happens is the music stops playing, but can be resumed manually via SMTC

[2016-12-03 06:24] DannyTalent commented on #61
For my phone it's actually very fast... The splash screen takes about a second or less and the music list takes 1 or 2 more..

[2016-12-03 06:27] DannyTalent commented on #39
Yep, mostly fixed. I did notice a small cut during a game's loading screen, so it may be a read speed issue?? I wouldn't know, but during the game it didn't happen again

[2016-12-03 06:48] theweavrs commented on #39
Can you give it a stress test? Like try loading heavy websites while song plays in background. Play some game (The ported Candy Crush 😉 ). I need to know if the config we have now will remain good under stressful conditions.

[2016-12-03 06:49] theweavrs commented on #61
800ms to load the player completely, last time I checked.

[2016-12-03 07:01] theweavrs commented on #63
@DannyTalent I still can't get this to reproduce.

[2016-12-03 13:00] DannyTalent commented on #63
Hmmm well, it does happen every time you go anywhere else (outside the app)

[2016-12-03 13:09] DannyTalent commented on #39
I tried the digrace of an app that they call Facebook Messenger, and didn't have any problems, again, a single jump while loading, but never again. I did however, found a bug I'll post about in a sec

[2016-12-03 13:12] DannyTalent opened #64 "SMTC stops showing the song after loading"
I tried to change songs while loading a resource intensive app on phone (Instagram) and once I did so, smtc stopped updating the song name. The songs do change, but not the titles.

Managed to reproduce this
An app restart seems to fix it

[2016-12-03 13:52] theweavrs commented on #64
Confirmed.

[2016-12-03 18:22] #60 closed

[2016-12-03 18:22] #56 closed

[2016-12-03 18:22] #39 closed

[2016-12-03 18:25] #59 closed

[2016-12-03 19:25] Bond-009 opened #65 "Settings crashes the app"
Pressing the settings button results in a crash.

[2016-12-03 19:26] Bond-009 opened #66 ""It's lonely here :(" stays"
![applicationframehost_2016-12-03_20-26-08](https://cloud.githubusercontent.com/assets/21289123/20861698/bf7e8cde-b996-11e6-8bbc-0cd9e92fea6b.png)

[2016-12-03 19:32] DannyTalent commented on #65
Latest version? Try reinstalling? Mine works fine...

[2016-12-03 19:56] Bond-009 commented on #65
@DannyTalent I build from source :)

[2016-12-04 05:21] theweavrs commented on #65
@Bond-009 It is working fine here too. Try debugging and see what's the exception.

[2016-12-04 05:22] theweavrs commented on #66
Confirmed. Fixing this...

[2016-12-04 07:33] theweavrs opened #67 "Crash when dragging position slider to the very end"

[2016-12-04 18:20] Bond-009 commented on #65
I redeployed it and now it works.

[2016-12-04 18:20] #65 closed

[2016-12-05 20:03] #66 closed

[2016-12-08 18:51] Bond-009 opened #68 "Instant crash"
If I build from source it crashes.
Ex: Unhandled exception at 0x06217CE8 (Windows.UI.Xaml.dll) in BreadPlayer.exe: 0xC000027B: An application-internal exception has occurred (parameters: 0x157DCCE8, 0x00000006). occurred
Ex2: An exception of type 'System.Exception' occurred in System.Private.CoreLib.dll but was not handled in user code
Unspecified error (Excep_FromHResult 0x80004005) occurred

[2016-12-08 19:20] Bond-009 opened #70 "Song name not visible."
In the dark theme the song name isn't visible.
![applicationframehost_2016-12-08_20-21-32](https://cloud.githubusercontent.com/assets/21289123/21024248/f9966a7c-bd83-11e6-9a26-6aec131a1edd.png)

[2016-12-08 19:30] hildebrandt87 commented on #68
I could not reproduce it so far.
Have you tried to start a fresh sourcecode download ?

[2016-12-08 20:22] Bond-009 commented on #68
Yes, I did

[2016-12-09 06:46] theweavrs commented on #68
@Bond-009 @hildebrandt87  This is a PC specific issue, I think. Perhaps, the app is having problems accessing the Music Library. I can't be sure until I reproduce this again.

@Bond-009 Remove the `try/catch` and try reproducing again with breakpoints in the `AutoLoadMusicLibrary` method and see on which line the bug is present. Furthermore, also trying breakpoints with `AddFolderToLibraryAsync` m

[2016-12-09 17:06] Bond-009 commented on #68
I think this is the line that causes the crash
![devenv_2016-12-09_18-05-49](https://cloud.githubusercontent.com/assets/21289123/21057490/307f7c3e-be3a-11e6-85b4-22be3b82795b.png)

[2016-12-09 19:14] theweavrs commented on #68
@Bond-009 See the `files` variable in the `Locals` Window. Check if there are any files in it; it's a list.

[2016-12-09 22:09] #61 closed

[2016-12-09 22:09] #67 closed

[2016-12-09 22:09] #70 closed

[2016-12-17 23:48] theweavrs commented on #64
@DannyTalent Please recheck this issue in the nightly build.

[2016-12-17 23:49] theweavrs commented on #63
@DannyTalent Please confirm #64 and #63 are fixed.

[2016-12-22 13:30] Bond-009 commented on #68
![2016-12-22_14-28-44](https://cloud.githubusercontent.com/assets/21289123/21427159/25eedc10-c853-11e6-8516-b9276ca2b03d.png)

[2016-12-23 00:42] stamlercas opened #71 "Crash on start sometimes."
Sometimes when I build, I get:
Exception thrown: 'System.InvalidOperationException' in System.ObjectModel.dll ("Cannot change ObservableCollection during a CollectionChanged event.")
Exception thrown: 'System.Exception' in System.ObjectModel.dll ("Catastrophic failure (Exception from HRESULT: 0x8000FFFF (E_UNEXPECTED))")

[2016-12-23 07:59] hildebrandt87 commented on #71
How often happens this behavior in the build process ?
Have you ever created the project again? Or reloaded the project code?
one more way: try to replace the dll/reinstall .net 4.5 ( Please take care with this option)

[2016-12-23 14:49] theweavrs commented on #71
@stamlercas @hildebrandt87 This is an issue with `GroupedObservableCollection` but it only occurs in Debug mode. I haven't seen this happening in Release Mode but you are welcome to try.

Thanks for reporting :)

[2016-12-24 08:04] stamlercas commented on #71
@hildebrandt87 It happens about 1 out of 3 builds and yes I have. @theweavrs Thanks for the response. It has yet to happen in release mode, but I will let you know if that changes.

[2016-12-24 14:26] DannyTalent commented on #64
The nightly build is downloaded via the link on the description, right?

If that's the case, then no, not fixed. Background smtc is not even working
Btw I've just started working so I won't be as available as before (until march) for testing :/

[2016-12-24 15:55] theweavrs commented on #64
@DannyTalent This is certainly troubling as SMTC is working perfectly at my end though I haven't tried with a Release Build, so I will test again.

As for your unavailability, I can understand so no worries. Test whenever you get time. 😄

[2016-12-24 20:53] DannyTalent commented on #64
Alright... I tried to download the nightly build again but instead I got an xml file that says Blob not found :o

[2016-12-24 20:55] theweavrs commented on #64
@DannyTalent It should be working now, probably was updated the build.

[2016-12-25 10:12] rc201612 opened #72 "Is it possible to build this app from the source code?"
Can the app be built from the source code or do I need to download the nightly build?

Thanks

[2016-12-25 10:18] theweavrs commented on #72
@rc201612 Of course, it can be built from source! You can also download the nightly-build, you won't see a difference either way. But if you want to contribute code and such, then of course downloading the source is more appropriate.

[2016-12-27 21:32] #72 closed

[2016-12-29 10:24] #10 closed

[2016-12-29 10:34] theweavrs opened #75 "Beta Feature List: Features-To-Be-Added"
## Planned feature list for the upcoming Beta release:

- [x] 1. Equalizer/Effects
- [x] 2. Most Played, Recently Added, Favorites and Now Playing section
- [x] 3. Prevent screen from locking.
- [x] 4. Stop playing after this song. _**(thanks to vsarunov)**_
- [ ] 5. .lrc lyrics (Synchronized lyrics) and unsynced lyrics.
- [ ] 6. Ability to hide a specific folder and its songs.
- [x] 7. Private Pl

[2016-12-29 17:04] Bond-009 commented on #75
I will start with 13, ok?

[2016-12-30 10:18] theweavrs commented on #75
@Bond-009 That is the first thing we got to do before we jump to others. Would appreciate all the help :)

[2016-12-30 12:42] hildebrandt87 opened #78 "Program does not start when file is moved"
I import an mp3 file from any path ( for example C:\folder1\subfolder1) , played that song and then i delete it. In the next step, I will close breadplayer. Move the mp3 file to another Folder (C:\folder2\subfolder2).
Now I try to start the program but it wont work.
![image](https://cloud.githubusercontent.com/assets/12720910/21565231/8aef88b0-ce95-11e6-804a-cac67c64ff9c.png)

The Method "public s

[2016-12-30 13:37] theweavrs commented on #78
This is tested and confirmed. Of course, we can handle it in an exception handler but I wish there was a way to know where the file was moved. Maybe, we can open a FilePicker to ask the user to relocate the last playing file if they want?

[2016-12-30 13:50] Bond-009 commented on #78
But he deleted it from BreadPlayer so you shouldn't add it back in.

[2016-12-30 13:55] theweavrs commented on #78
@Bond-009 I see what you mean. @hildebrandt87 If you delete a song from the library, that doesn't stop the song from playing (should it?), it just plays on. Perhaps, we can stop the song when it is deleted in the library?

[2016-12-31 12:08] hildebrandt87 commented on #78
@theweavrs jop thats true, the song still goes on if i delete it. Maybe this is a possibility how we can handle the problem. Another possibility would be to implement a check to  the method "LoadSettings"  if the file is not found to continue the startup.

[2016-12-31 18:53] #78 closed

[2017-01-01 17:02] hildebrandt87 opened #81 "Player crash when using "Open Song Location""
I got some mp3 files in a folder saved on my desktop. If i want to use the function "open song location" the program crashes.
![image](https://cloud.githubusercontent.com/assets/12720910/21582125/3f94ad60-d04c-11e6-9552-0a9f1a410b53.png)
This method is in "sharedLogics.cs"

[2017-01-01 17:05] hildebrandt87 commented on #81
Maybe we can use here the Filepicker /Folderpicker to get access ?
Here are some information that i found : https://msdn.microsoft.com/en-us/library/windows/apps/hh967755.aspx

[2017-01-01 17:43] theweavrs commented on #81
@hildebrandt87 Cannot reproduce this. I put a song in a folder on my desktop and then loaded that into library. After that I used `Open Song Location` and it succeeded flawlessly. I tried 2 more times and the same outcome.

[2017-01-01 19:05] hildebrandt87 commented on #81
I have now reloaded the current source code again.The project is reloaded and deployed. Now it's working :)  I probably had a tilted position. Sorry, i will close this issue.

[2017-01-01 19:05] #81 closed

[2017-01-11 17:39] DannyTalent opened #83 ""Right clicking" on mobile plays a song"
Right clicking on a library song on mobile plays the song while also bringing up the context menu.

Normal behavior would be just to get the context menu, and not play the song.
Another smaller issue (consistency) is, when right clicking (long press) in most of W10M, the context menu appears after a fixed time (2 seconds I believe? or 1 1/2), and on Bread Player it only appears once you remove the

[2017-01-11 17:41] DannyTalent commented on #64
Fixed, closing

[2017-01-11 17:41] #64 closed

[2017-01-11 17:42] DannyTalent commented on #63
Still happening on a1.1.0

[2017-01-11 17:49] DannyTalent opened #84 "DRM protected songs showing up, but not playing"
I have a Groove Music Pass and have a few songs downloaded, naturally, they're all DRM locked, so, even though they appear on the library on Bread, they won't play, and show as 0:01 length
![wp_ss_20170111_0001](https://cloud.githubusercontent.com/assets/23058301/21859822/272c99ec-d7fc-11e6-8c32-98dd51d8ab46.png)

The player does not automatically go to the next song, as well

[2017-01-11 17:54] DannyTalent opened #85 "Tapping (+) button plays the song"
...which doesn't feel like normal behavior... (happens on mobile, haven't tried PC)
Normally I think it'd not affect playback and just show the list of playlists...

Also if there's no playlists it just shows a small square

[2017-01-11 18:27] theweavrs commented on #84
I will be sure to add a check for DRM protection and not to add those into library. Later on we can add removal of DRM (on user's consent and responsibility).

[2017-01-11 20:50] theweavrs commented on #85
This was influenced from Groove where on selecting a song it starts playing. What do you think, was the previous behavior better?

[2017-01-11 21:50] theweavrs commented on #63
@DannyTalent I can reproduce this. Fixing.

[2017-01-12 03:14] DannyTalent commented on #85
Yeah that's okay, what I mean is that it shouldn't when you're actually tapping to add a playlist, a user won't  necessarily want to start the song when he's trying to add it to a playlist, but pressing anywhere else should be okay.

Something like this:
![image](https://cloud.githubusercontent.com/assets/23058301/21875591/2e08f96e-d84b-11e6-9dcc-01a1342eeba5.png)

[2017-01-12 05:06] theweavrs commented on #85
Fixed the link, try it now.

[2017-01-16 09:56] MightyK1337 opened #88 "Not all songs are loading"
Hi..

long time no see.

I downloaded the latest alpha version 1.1.0 and i am still facing this issue, which I think i have raised before but do not remember ;)

Basically i have around 1400 songs in library. but only around 200 of them are showing up and quite a few of them are duplicates. I tried adding only the folder, but then the player crashes and it again tries loading all the songs.

[2017-01-17 08:43] theweavrs opened #89 "Issues as reported by a valuable redditor matjojo1000 (long-list)"
_EDIT: I see now that this is quite the long list, no bad feelings meant, the app works really well and you are certainly doing a good job on it!_
I installed it on my PC a couple things I saw in the first hour:
- [x] it's not really clear how to add new songs
   - I like the fact that the text is the button, but some(including me) might see it as an extension of the text above
   - when clicking

[2017-01-17 09:31] matjojo commented on #89
Wow, thanks a lot. I kinda was afraid I'd look like a dick by posting so many things at once. If you want I can sort these issues from the suggestions and sort them into the correct issues that you premade?

[2017-01-17 09:33] matjojo commented on #17
suggestion: Adding multiple songs to a playlist at once (and maybe an add the whole library to playlist button)

[2017-01-17 09:41] theweavrs commented on #89
@matjojo That would help a lot!

[2017-01-17 10:56] theweavrs opened #90 "Crash when navigating back to 'My Albums'"
This exception occurs when trying get back to 'My Albums' by pressing back button and the app crashes.
[code]

Occuring on code line: [SplitViewMenu L121](https://github.com/theweavrs/BreadPlayer/blob/master/BreadPlayer.Views.UWP/HamburgerMenu/SplitviewMenu.cs#L121)

[2017-01-17 11:57] matjojo commented on #17
suggestion: play que, a short playlist that you can add songs to that will play before the regular next song
(can be the same feature as play next)

[2017-01-17 16:16] matjojo opened #91 "crash when deleting last song from playlist"
to reproduce:

* Make playlist
* Add one song
* Press the delete button
* app crashes

[2017-01-17 16:16] matjojo opened #92 "Search button does not work when hamburger is not open (and crashes the player when you search too much at once)"
to reproduce:

* close hamburger menu
* press the search button
* it does not open

* open the hamburger
* search for a long string
* app crashes

[2017-01-17 16:16] matjojo opened #93 ""Change accent by album art" option is not saved after crash when it is FALSE"
to reproduce:

* open app
* go to settings
* untick 'change accent by album art'
* crash app by searching for a long string
* open app again
* go to settings
* option is ticked again

[2017-01-17 16:17] matjojo opened #94 "Now Playing song is not the same as the indicated Now Playing song."
![](https://i.imgur.com/qdYB7ug.jpg)

[2017-01-18 08:19] theweavrs opened #95 "Implement full error/exception logging"
Releasing Alpha proved to be a good decision as now I have quite a list of crash reports that I wouldn't have known without taking that decision. To further increase the error analysis and bug fixes, I am planning on implementing a complete logging system "BLog" that will log any errors, exceptions, crashes and their respective classes and line number into a file called "breadplayer.log" in the Te

[2017-01-18 14:45] theweavrs commented on #90
Fixed.

[2017-01-18 14:45] #90 closed

[2017-01-18 14:54] Bond-009 commented on #68
Closing this, it doesn't crash anymore

[2017-01-18 14:54] #68 closed

[2017-01-18 14:55] theweavrs commented on #91
This occurs when deleting any song in the playlist. Fixing right now.

[2017-01-18 15:11] theweavrs commented on #91
Fixed. Not closing yet though.

[2017-01-18 15:23] theweavrs opened #96 "Implement toast or progressbar for library import progress (Suggestions Welcome)"
We have absolutely no implementation of progress reporting.

Possible Implementations:

1. A toast like in Material Design.
2. A loading overlay until the app has done loading (not very feasible for big collections).
3. Perhaps the Now Playing screen can act as a progress reporter too. (too hidden).
4. Loading %age under the "Import Folders Into Library" button. (too far)
5. A progressbar in the h

[2017-01-18 16:05] theweavrs commented on #92
Fixed. Not closing yet.

[2017-01-18 16:09] theweavrs commented on #93
Fixed. Not closing yet.

[2017-01-21 14:35] #95 closed

[2017-01-23 07:39] theweavrs commented on #96
For now, I went with 2 but we will change it later.

[2017-01-24 09:06] MightyK1337 commented on #96
5 would be better.

[2017-01-25 15:57] borna761 opened #97 "Application crash"
Faulting application name: BreadPlayer.exe, version: 1.0.0.0, time stamp: 0x58782e55
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.15014.1000, time stamp: 0x8b3c08fe
Exception code: 0xc000027b
Fault offset: 0x000000000077a3ba
Faulting process id: 0x3758
Faulting application start time: 0x01d2771afcf4cd81
Faulting application path: C:\Program Files\WindowsApps\22102thecodrr.BreadPlayer_1

[2017-01-25 17:42] theweavrs commented on #97
Where does this exception occur and are you building from source?

[2017-01-25 18:55] borna761 commented on #97
Happened randomly just while playing music. App is installed from store.

[2017-01-27 22:13] borna761 commented on #97
Not sure if any of this helps:

Fault bucket 133454638297, type 5
Event Name: MoAppCrash
Response: Not available
Cab Id: 0

Problem signature:
P1: 22102thecodrr.BreadPlayer_1.1.0.0_x64__fknyqnmcp2942
P2: praid:App
P3: 1.0.0.0
P4: 58782e55
P5: StackHash12_043
P6: 0.0.0.0
P7: 00000000
P8: 88000fa8
P9: 0
P10:

Attached files:
\\?\C:\ProgramData\Microsoft\Windows\WER\Temp\WER8000.tmp.dmp
\\?\C:\Progra

[2017-01-28 09:02] theweavrs commented on #97
Can't pinpoint the exception to the specific code line or block. I will release a new version in the coming days, perhaps this is already fixed. :)

Thank you so much for reporting. :)

[2017-01-30 15:44] borna761 commented on #97
Adding another one just in case it helps.
[Report.zip](https://github.com/theweavrs/BreadPlayer/files/739392/Report.zip)

[2017-02-09 00:04] theweavrs commented on #97
@borna761 A new version of Bread Player is released! Please check it out and tell if this bug is fixed!

Get it from [here](https://www.microsoft.com/en-us/store/p/bread-player/9nblggh42srx)!

[2017-02-09 16:41] #91 closed

[2017-02-11 00:59] #92 closed

[2017-02-11 00:59] #93 closed

[2017-02-11 01:00] #94 closed

[2017-02-11 01:00] #85 closed

[2017-02-11 01:00] #83 closed

[2017-02-14 14:45] cdytoby commented on #17
I want an option for different column items.

For example, I want to remove title and album from the columns, instead I want to show the file name and codec. Something like that.
It would be awesome to have such an option to change the column information.

[2017-02-14 14:51] cdytoby commented on #17
And possible for Spectral Frequency diagram? like this:
http://i.stack.imgur.com/pXIap.png

[2017-02-15 22:38] borna761 commented on #97
Happened again:

Faulting application name: BreadPlayer.exe, version: 1.0.0.0, time stamp: 0x589597a4
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.15031.0, time stamp: 0x29e0f779
Exception code: 0xc000027b
Fault offset: 0x000000000043103f
Faulting process id: 0x390c
Faulting application start time: 0x01d287ca6a9fe5b5
Faulting application path: C:\Program Files\WindowsApps\22102thecodrr

[2017-02-16 00:16] theweavrs commented on #97
@borna761 Okay, I see the problem is still there. Tell me exactly what you did, I mean exactly as in hover over a list item? Or perhaps some other control? Or did you changed a song? Things like that. This is a problem with some XAML failing or some such so it would help if you could pinpoint exactly where and how it happened even if it was some random action. Thanks a lot for reporting again :)

[2017-02-16 00:23] theweavrs commented on #17
@cdytoby I added your suggestions to the suggestions list, thank you so much. As for custom columns, they are planned in future releases so you can be sure that they are definitely coming. The spectral frequency diagram, on the other hand, is a bit complicated as UWP is devoid of any good in-built WPF-like drawing library. Of course, we have Win2D and I was able to draw a Spectrum with it. See the

[2017-02-16 18:57] borna761 commented on #97
@theweavrs It happens intermittently when playing music. I'm just leaving it open in the background and then it closes down. I've noticed it seems to be more frequently when it switches between songs, so that might have something to do with it.
I wish I could give a more detailed report than that, sorry!

[2017-02-18 16:36] theweavrs opened #98 "[Suggestions needed] What would be the best place to display the equalizer?"
1. An overlay over all of the player.
2. In the settings panel.
3. A small panel just above the PlayBar in the corner of the player.

Give your suggestion below, also if you have any other suggestion do tell.

[2017-02-18 17:07] Bond-009 commented on #98
Maybe something like this:
![2017-02-18_17-06-04](https://cloud.githubusercontent.com/assets/21289123/23095130/0b7a3e8a-f605-11e6-92b3-ad511225aabf.gif)

[2017-02-18 17:34] theweavrs commented on #98
@Bond-009 that is actually the most suitable as it doesn't obstruct play controls OR the library. Thanks a lot.

[2017-02-19 17:20] borna761 commented on #97
More crash:

Faulting application name: BreadPlayer.exe, version: 1.0.0.0, time stamp: 0x589597a4
Faulting module name: twinapi.appcore.dll, version: 10.0.15031.0, time stamp: 0x31aa4e20
Exception code: 0xc000027b
Fault offset: 0x0000000000033d3a
Faulting process id: 0x1f10
Faulting application start time: 0x01d28ad38da8ce5e
Faulting application path: C:\Program Files\WindowsApps\22102thecodrr.Bre

[2017-02-26 17:46] vsarunov commented on #75
@theweavrs  Btw I started looking at Nr. 4. Hope nobody started yet.

[2017-02-28 11:55] tazcob commented on #98
I agree with @Bond-009.
Another suggestion would be like an option icon near the music control buttons, selecting it would be the equalizer menu on top of everything else.

[2017-03-01 21:30] vsarunov opened #101 "Adding logging"
It is a suggestion, add logging so it would be easier to identify issues as well as look at the way exception are handled (if they are not swallowed).

[2017-03-02 05:20] theweavrs commented on #101
Logging is already there. Look at the BreadLogger.cs file. I used XLog. The only thing that is left is sending the file to be analyzed. Perhaps you have some suggestion?

[2017-03-02 05:21] theweavrs commented on #101
I used Mail but that was pathetic obviously because of smtp restrictions. It should be uploaded to some database or some such.

[2017-03-10 15:25] #101 closed

[2017-03-17 19:39] Bond-009 commented on #52
I downloaded the latest nightly and I think it's fixed.

[2017-03-17 19:39] #52 closed

[2017-03-31 20:25] Bond-009 opened #102 "Mute button doesn't work"
The mute button doesn't work

[2017-04-01 05:39] theweavrs commented on #102
Confirmed and fixing.

[2017-04-01 20:32] #102 closed

[2017-04-02 06:12] theweavrs commented on #75
Started working on no. 12

[2017-04-02 08:51] theweavrs commented on #75
**Done with 12.**
Starting #3.

[2017-04-02 09:15] theweavrs commented on #75
**Done with 3**
Starting another extra (and secret) feature 😉

[2017-04-02 12:54] Bond-009 commented on #8
This is done, right?

[2017-04-02 13:16] theweavrs commented on #8
yup.

[2017-04-02 13:16] #8 closed

[2017-04-02 13:24] theweavrs commented on #98
This is done.

[2017-04-02 13:26] #98 closed

[2017-04-02 13:27] theweavrs commented on #96
This is done.

[2017-04-02 13:27] #96 closed

[2017-04-02 13:29] theweavrs commented on #71
@stamlercas  @hildebrandt87 This should be fixed in the latest release. Please confirm and close the issue.

[2017-04-02 13:37] theweavrs commented on #97
@borna761 Please confirm this bug in the nightly builds.

[2017-04-02 14:50] theweavrs commented on #75
**Done with the extra feature.**
Starting No. 6

[2017-04-03 08:21] theweavrs commented on #75
We are now in feature-freeze so no more features will be added until next beta! Please refer to [Guide for Testers](https://github.com/theweavrs/BreadPlayer/wiki/Guide-For-Testers) if you want to help out in testing. The list will be constantly updated.

[2017-04-03 08:21] #75 closed

[2017-04-03 08:22] theweavrs commented on #89
Please try out the latest version and see if you come up with any new bugs :) Thanks a lot.

[2017-04-03 08:23] #89 closed

[2017-04-03 09:32] Bond-009 opened #104 "Duplicates window doesn't show title song"
It would be better if you could see the title of the duplicate.
![2017-04-03_10-28-27](https://cloud.githubusercontent.com/assets/21289123/24603482/3edaf4d0-1861-11e7-9a26-c9bd9402fcf3.png)

[2017-04-03 09:56] theweavrs commented on #104
The problem comes when there are 20 or 30 duplicates. We can list them all in a message box.

[2017-04-03 10:09] Bond-009 commented on #104
You are right, but there should be a way to see which songs you delete when you click that button.

[2017-04-03 10:13] theweavrs commented on #104
Perhaps a custom dialog box with a listbox?

[2017-04-03 10:14] Bond-009 commented on #104
Sounds good to me 👍

[2017-04-03 10:24] theweavrs commented on #104
Yup. Working on it.

[2017-04-03 18:48] theweavrs commented on #104
This should be implemented now in the latest build.

Commit Reference: [54c43ae0](https://github.com/theweavrs/BreadPlayer/commit/54c43ae0cd98636b3331cf9195a0783d672f0c38)

[2017-04-04 20:08] theweavrs opened #107 "Performance issue on player startup"
These are the CPU and RAM usage stats I noticed on player startup:
#### CPU:
Max 100%
Min 25%

#### RAM:
125 MB max.

Total Songs: 1206

@Bond-009 @vsarunov @stamlercas Would like you guys to confirm.

[2017-04-05 07:16] theweavrs commented on #107
So I changed the DB Engine from LiteDB to DBreeze and these are the stats:
#### CPU:
Max 33%
Min 13%

#### RAM:
41 MB - 84 MB

This is considerable improvement but still 33% CPU is too much, I would like it near 10% or perhaps 20% max.

#### PC Specs:
OS Name:	Microsoft Windows 10 Pro
Version:	10.0.14393 Build 14393
Processor:	Intel(R) Core(TM) i7-3770S CPU @ 3.10GHz, 3101 Mhz, 4 Core(s), 8 Logica

[2017-04-05 10:32] theweavrs commented on #107
So after playing around with different JSON Serializers for DBreeze, I settled upon JSON.Net which I am not happy with because its still too slow. Why didn't I use protobuf-net? Or perhaps NetJSON? The main reason is non of these officially or unofficially support UWP which is really really sad. So instead of wasting my time in wallowing, I tweaked other parts of the code and these are the results

[2017-04-06 08:46] theweavrs commented on #107
This is fixed as much as it can be for now. Next step would to port NetJson to UWP and use that. Or some other really really fast json serializer like FastFormatter.

[2017-04-06 08:46] #107 closed

[2017-04-06 08:47] theweavrs commented on #104
This is fixed in the latest build. Please feel free to reopen if that is not so.

[2017-04-06 08:47] #104 closed

[2017-04-06 08:48] theweavrs commented on #97
I am closing this for now as it is not reproducible anywhere and is a unique issue never reported elsewhere.

[2017-04-06 08:48] #97 closed

[2017-04-06 08:49] theweavrs commented on #88
Sorry for the late reply, your issue got mixed up. Can you please try again with the nightly builds and confirm this?

[2017-04-06 08:52] theweavrs commented on #71
I am closing this for now as it cannot be reproduced now. Feel free to reopen this if otherwise.

[2017-04-06 08:52] #71 closed

[2017-04-06 08:56] theweavrs commented on #63
This should now be fixed in the latest builds.

[2017-04-06 08:56] #63 closed

[2017-04-06 11:23] Bond-009 opened #108 "Next button pauses song"
![2017-04-06_13-22-38](https://cloud.githubusercontent.com/assets/21289123/24751998/2aa6bea0-1acc-11e7-959e-00ef8f72b645.gif)

[2017-04-06 11:57] #108 closed

[2017-04-08 11:32] myfreeweb commented on #17
Please add support for the Opus codec (and the `.opus` file extension, which is actually the Ogg container). BASS already has a plugin for Opus.

[2017-04-08 11:40] theweavrs commented on #17
@myfreeweb Yes, you are quite right about that but it hasn't been ported to Windows Store yet but I will try the other one and see if it works. I am adding this to the suggestions list, thanks a lot. Keep tuned.

[2017-04-09 16:22] C-A-T9LIFE opened #109 "Add webdav"

[2017-04-10 03:12] theweavrs commented on #109
@C-A-T9LIFE An explanation of this feature would help loads! And if you would be kind enough to tell how it can be useful to the music community, that would help too.

[2017-04-10 20:04] theweavrs opened #111 "Crash when seeking slider to the end."
An unhandled exception occurs when you try to seek to the end of the song.
`Exception Message: Layout cycle detected. Layout could not complete.`

Asking for confirmation:
@vsarunov @Bond-009 @stamlercas @wobbince @coding4u

Steps to reproduce:
1- Play a song.
2. Directly seek to the very end.
3. Do this for more than one song and repeatedly.
**Update:**
After much debugging, the cause of this err

[2017-04-10 20:23] Bond-009 commented on #111
It works for me

[2017-04-10 20:25] theweavrs commented on #111
try doing it for more than one song and repeatedly.

[2017-04-12 05:38] theweavrs commented on #111
Issue confirmed as related to Windows rather than the code. Reinstallation of Windows fixed this. Closing now...

[2017-04-12 05:38] #111 closed

[2017-04-16 23:55] theweavrs opened #113 "Playlist Song Is Not Deleted When Delete Button Is Pressed."
Expected Behaviour:
Song should be deleted from library when button is pressed.

[2017-04-16 23:57] theweavrs opened #114 "Song chamge is not reflected in the SMTC when player is in background"
Expected Behavior:
Song change should be reflected.

Tested On:
Lumia 540.

[2017-04-17 00:01] theweavrs opened #115 "Crash when changing albumart of any song from the list manually"
Expected Behavior:
Album Art should change without an issue.

Notes:
Album art of the now playing song is changed without an issue.

Tested on:
Lumia 540

[2017-04-17 06:44] #113 closed

[2017-04-17 07:15] theweavrs opened #116 "No menu is opened for playlists in HamburgerMenu in Mobile"
Expected Behavior:
Menu should open.

[2017-04-17 07:18] theweavrs opened #117 "Search is always one letter behind in Mobile"
Expected Behavior:
Search string should always be the text in the SearchBox, not one letter less or more.

[2017-04-17 07:22] theweavrs opened #118 "Lockscreen Wallpaper Change Doesn't Work"
Expected Behavior:
Lockscreen wallpaper should change according to the Albumart.

Notes:
This feature is experimental so it might not reach the final release.

[2017-04-17 07:23] theweavrs opened #119 "Prevent Screen From Locking Doesn't Work"
Expected Behavior:
Screen should not lock when this option is enabled.

Issue:
There is some issue with binding.

[2017-04-17 07:26] theweavrs opened #120 "Library folders are not added to folder list on app startup."
Expected behavior:
The imported folders should be added to the folder list on startup.

[2017-04-17 07:38] #114 closed

[2017-04-17 07:38] #115 closed

[2017-04-17 07:38] #116 closed

[2017-04-17 07:38] #118 closed

[2017-04-17 07:38] #119 closed

[2017-04-17 07:38] #120 closed

[2017-04-17 07:42] theweavrs opened #121 "Last.fm is not initialized on startup i.e. user is not logged in on startup"
Expected behavior:
User should be logged in on startup if credentials were entered.

[2017-04-17 11:55] #117 closed

[2017-04-19 06:55] theweavrs opened #122 "Wide and Large tiles do not update when changing songs."
Expected Behavior:
All sizes of tiles should update with the now playing song.

[2017-04-24 18:37] #122 closed

[2017-04-26 08:35] cdytoby opened #123 "Bug: version 2.1.0, dark theme not work, and app freeze after song loaded."
2 bugs:
1. when switch to dark theme, theme doesn't change, and after close the app and reopen it, app freeze for about a minute, and crashes.
2. after songs are loaded, app freezes, user must manually close and reopen the app.

[2017-04-26 12:34] theweavrs commented on #123
Can confirm. Working on a fix immediately.

[2017-04-26 12:51] theweavrs commented on #123
Please make a separate issue for each bug from now on as it helps in keeping track of all the issues.

[2017-04-27 01:07] colinkiama opened #128 "App crashing at start-up bug"
I had to reset the app data from the settings app for the app to actually stop crashing on start-up. Then to get the lock screen feature working, i had to toggle it a few times. It was working. Unfortunately, after closing and opening the app it keeps crashing at start up. (The cycle continues)

[2017-04-27 01:10] theweavrs commented on #128
I will investigate this further.

[2017-04-27 01:10] theweavrs commented on #128
@colinkiama are you able to see the what's new dialog?

[2017-04-27 01:15] colinkiama commented on #128
Only after resetting the app on the settings app.

Sent from my Windows 10 phone

From: theweavr
Sent: 27 April 2017 02:11
To: theweavrs/BreadPlayer
Cc: Colin Kiama; Mention
Subject: Re: [theweavrs/BreadPlayer] App crashing at start-up bug (#128)

@colinkiama are you able to see the what's new dialog?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2017-04-27 01:19] theweavrs commented on #128
Can you please try these steps:
1. Reset the app from the store.
2. Open the app.
3. Wait for the songs to load fully.
4. Go into app Settings > Library.
5. Click on Reset Everything.
6. Close the app.
7. Reopen the app.

Please report after trying these steps out. Were you able to open the app?

[2017-04-27 01:21] theweavrs commented on #128
Also, please see if you can find anything in the "Documents > Debug" folder. If there is anything related to BreadPlayer please send as an attachment. Thank you.

[2017-04-27 01:26] colinkiama commented on #128
Yes

Sent from my Windows 10 phone

From: theweavr
Sent: 27 April 2017 02:19
To: theweavrs/BreadPlayer
Cc: Colin Kiama; Mention
Subject: Re: [theweavrs/BreadPlayer] App crashing at start-up bug (#128)

Can you please try these steps:
1. Reset the app from the store.
2. Open the app.
3. Wait for the songs to load fully.
4. Go into app Settings > Library.
5. Click on Reset Everything.
6. Close the a

[2017-04-27 01:40] theweavrs commented on #128
Have you yet tried the latest nightly build?

[2017-04-27 10:40] theweavrs commented on #128
Please download and install the Nighly Build and then try again.

After the app has crashed, [follow these instructions](https://github.com/theweavrs/BreadPlayer/wiki/How-To-Send-The-Log-File-To-Us-From-Mobile) and send me the log file.

[2017-04-27 12:02] colinkiama commented on #128
I don't see a log.log file in the app’s local state folder

Sent from my Windows 10 phone

From: theweavr
Sent: 27 April 2017 11:40
To: theweavrs/BreadPlayer
Cc: Colin Kiama; Mention
Subject: Re: [theweavrs/BreadPlayer] App crashing at start-up bug (#128)

Please download and install the Nighly Build and then try again.
After the app has crashed, follow these instructions and send me the log file.

[2017-04-27 14:35] theweavrs commented on #128
@colinkiama are you sure the app crashed and that you installed the latest nightly build? Please give it a try again.

[2017-04-27 14:40] theweavrs commented on #128
@colinkiama Try it out this way:
1. Uninstall the app.
2. Install the nightly build.
3. Open the app and wait for it to crash. DO NOT OPEN THE APP AGAIN (That resets the log.)
4. Follow the steps to send the log file.

Thank you so much for all the help.

[2017-04-27 15:33] theweavrs opened #129 "Repeat with Last.fm Logged in doesn't work as expected."
Current Behavior:
The song stops after it is scrobbled if repeat 1 song is enabled. The pause icon doesn't change to play icon on stop but stays the same. Resuming the song does nothing, only tapping on the song again makes it play again.

Expected Behavior:
The song should first start repeating and then scrobble in the background without an issue. Scrobbling shouldn't affect the way of the player

[2017-04-27 15:46] theweavrs opened #130 "App crash when navigating through My Breads Or Opening a Playlist"

[2017-04-27 15:53] theweavrs commented on #121
This seems to be not fixed.

[2017-04-27 16:36] theweavrs opened #131 "App crash on songs import [System.IO.Compression.ZLibException]"
Exception caused:
`System.IO.Compression.ZLibException: 'The underlying compression routine could not be loaded correctly.`

Inner Exception:
`DllNotFoundException: Unable to load DLL 'clrcompression.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`

This error is related to DBreeze and will be fixed, by me or by the lead developer, very very soon.

[2017-04-27 17:12] theweavrs opened #132 "Accent not changing according to album art"

[2017-04-27 20:43] MathewSachin opened #133 "Windows Store Download Link is Invalid"
The link for downloading BreadPlayer from Windows Store https://www.microsoft.com/en-gb/store/p/bread-player/9nblggh42srx/ is resulting in a 404 (Not Found) page

[2017-04-27 20:47] MathewSachin commented on #133
Looks like an issue with the Microsoft servers, same issue arising for other apps.

[2017-04-28 04:58] Bond-009 commented on #133
Yeah, msdn was down too yesterday.

[2017-04-28 08:08] theweavrs commented on #133
It should be working now.

[2017-04-28 09:27] #133 closed

[2017-05-04 14:07] theweavrs opened #134 "Implement Explore section"

[2017-05-04 14:10] theweavrs opened #135 "Native app for Linux and macOS + Windows 7 & 8"

[2017-05-05 15:34] theweavrs opened #136 "Implement HotKeys for every function (Suggestions Welcome!)"
I would love some guidance in this area as to which key bindings are most suitable for a function.

Following is the list of functions (all I can remember for now):

### Basic Commands
| Command        | Key Binding |
|----------------|-------------|
| Play/Pause     |             |
| Next           |             |
| Previous       |             |
| Seek Forward   |             |
| Seek Backward

[2017-05-05 15:47] Bond-009 commented on #136
Ctrl + e for the Equalizer

[2017-05-05 15:52] theweavrs commented on #136
@Bond-009 How about only "E"?

[2017-05-05 16:14] Bond-009 commented on #136
I think that if you set a single key as shortcut it can be pressed accidentally more easily.
Maybe an option to change the shortcuts, that would be awesome.

[2017-05-05 16:19] theweavrs commented on #136
@Bond-009 Noted. Any other suggestions for other functions?

[2017-05-05 18:32] Bond-009 commented on #136
Mostly Ctrl + the first letter :)
Maybe space or enter to play.
Next Ctrl + right arrow and the opposite for previous, and Ctrl up and down to increase and decrease the volume

[2017-05-05 18:54] theweavrs commented on #136
@Bond-009 See the updated OP.

[2017-05-05 18:58] Bond-009 commented on #136
Ctrl + N is in most programs a new file, I think it should be used to create a new playlist.
And maybe something like this for skipping and moving within songs.
Move forward or backward within a song: Control–Alt–Right Arrow or Left Arrow.
Next or previous song: Control–Right Arrow or Left Arrow;

[2017-05-05 19:04] theweavrs commented on #136
Noted.

[2017-05-05 19:05] theweavrs commented on #136
@Bond-009 How about this configuration:
Next: Ctrl + >
Previous: Ctrl + <

[2017-05-05 19:12] Bond-009 commented on #136
Looks good to me :)

[2017-05-05 20:36] #121 closed

[2017-05-05 20:36] #123 closed

[2017-05-05 20:36] #129 closed

[2017-05-05 20:36] #130 closed

[2017-05-05 20:36] #132 closed

[2017-05-05 20:43] theweavrs opened #137 "Second Beta Feature List: Features-To-Be-Added"
### Planned feature list for the upcoming Second-Beta:

- [ ] 1. ExploreView (will include recommendation, song streaming, SoundCloud, Spotify etc.)
- [ ] 2. NowPlayingView (will show what's playing and the nowplaying queue
- [ ] 3. Windows App (Alpha)

[2017-05-07 11:38] theweavrs opened #138 "Crash on importing a folder into library"
Exception:

[code]

[2017-05-07 18:18] theweavrs opened #139 "Navigate to now playing screen when song is played on mobile"

[2017-05-07 18:49] theweavrs opened #140 "Navigate to now playing screen when song's tags are clicked in mini player"

[2017-05-07 18:51] theweavrs opened #141 "improve hamburger menu list item response on tap/click"
Current Behaviour:
Sometimes, you have to tap on an item 3-4 times

[2017-05-07 18:52] theweavrs opened #142 "NowPlayingList loses its ItemTemplate when window size is changed"

[2017-05-07 18:53] #138 closed

[2017-05-07 18:53] #139 closed

[2017-05-07 18:53] #140 closed

[2017-05-07 18:53] #141 closed

[2017-05-07 18:53] #142 closed

[2017-05-07 18:54] theweavrs opened #143 "Crash when duplicate items are about to be viewed after library import"
Exception:

[code]

[2017-05-09 01:21] cadayton commented on #143
Version 2.2.0.0 still crashing on Windows Phone on start-up. This seems to be happening even prior to the loading of the music library.   Have installed on Windows 10 too no crashes of the app yet.

[2017-05-09 03:21] theweavrs commented on #143
Can you please attach the log? It would be in your Music Library under BreadPlayerLogs folder.

[2017-05-09 16:14] Bond-009 commented on #135
I don't think that it's worth the effort to create a Windows 7 or 8 app. Since you support 10 and thats the latest. That said I would LOVE macOS and Linux support.

[2017-05-09 16:58] theweavrs commented on #135
Making an app for Linux and macOS will automatically enable Windows 7,8,8.1 support because it is supposed to be portable. But you are right, users will eventually move on to Windows 10.

[2017-05-11 03:42] theweavrs opened #144 "Translators Needed"
If anyone would like to translate BreadPlayer into their native language, they are more than welcome. Please comment below with the language you are going to translate so I can add it to the list of WIP languages and avoid causing conflicts.

Please follow the guide here on [how to translate BreadPlayer.](https://github.com/theweavrs/BreadPlayer/wiki/I-Want-To-Translate!)

## Languages Progress:

[2017-05-11 11:23] ududsha commented on #144
Is there any chance to translate it into Sinhala?

[2017-05-11 14:00] theweavrs commented on #144
@ududsha of course. If you want to go for it then I will reserve it for you.

[2017-05-11 14:06] ududsha commented on #144
@theweavrs please reserve it for me. Thanks!

[2017-05-11 14:25] theweavrs commented on #144
@ududsha done. Do you know how to go about the process? Have you done translation before for any other project?

[2017-05-11 14:50] ududsha commented on #144
@theweavrs this is my first time in a translation job. I have gone through the guide. I'll fork the codebase and pull it for review.

[2017-05-11 15:06] theweavrs commented on #144
Thanks. If you need any help or guidance, we can chat on Gitter. [Here's the room link.](https://gitter.im/BreadPlayer/Lobby)

[2017-05-16 13:34] ududsha commented on #144
Now we've done with Sinhala. Cheers!

[2017-05-29 08:47] HolzingerAlexander commented on #144
I would like to do the translation to german.

[2017-05-29 12:44] theweavrs commented on #144
@HolzingerAlexander de-DE will work wonderfully. Thanks.

[2017-05-29 15:32] touseefbsb opened #147 "build fails with msbuild.cmd"
### Actual Behaviour:
I cloned the project and ran msbuild.cmd as indicated and I got the following error in terminal window :

Failed to load msbuild Toolset
  Could not load file or assembly 'Microsoft.Build, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

#### What Happened?
build failed, because msbuild

[2017-05-29 18:06] theweavrs commented on #147
The script is using Visual Studio 2015 (which it shouldn't) as I forgot to update it, Can you try and change all `14.0` to `15.0`` in the script and see if it works? I will update the script ASAP.

[2017-05-29 18:26] touseefbsb commented on #147
I wasnt sure where to edit it so I edited following 2 lines as follows.

if exist "%ProgramFiles%\MSBuild\15.0\bin" set PATH=%ProgramFiles%\MSBuild\15.0\bin;%PATH%
if exist "%ProgramFiles(x86)%\MSBuild\15.0\bin" set PATH=%ProgramFiles(x86)%\MSBuild\15.0\bin;%PATH%

and then saved it and ran it again , but it is still giving the exact same error as before

[2017-05-29 18:32] touseefbsb opened #148 "songs not playing on windows 10 creators fall update insiders preview"
### Actual Behaviour:
I am using windows 10 creators fall update as announced in build 2017, it is insiders preview build. I downloaded the latest version of bread player just now from the store to test it and it doesnt matter how I try to play the song it gets stuck at 0:01 seconds and doesn move further, all other features seem to work just fine

[2017-05-29 18:40] theweavrs commented on #147
Hmm...try downloading the latest NuGet.exe from [here](https://dist.nuget.org/win-x86-commandline/v4.1.0/nuget.exe). After you have downloaded, replace the old **nuget.exe** in **scripts** folder with the new one and then try again.

[2017-05-29 18:44] theweavrs commented on #148
Are the songs DRM protected? Did you get them by using Groove Music Pass?

[2017-05-29 19:03] touseefbsb commented on #148
no they are local music files, just normal mp3 files on my laptop

[2017-05-29 19:04] touseefbsb commented on #147
I just have to run the cmd file right? after replacing nuget.exe? I meant I dont have to run nuget.exe ?

[2017-05-29 19:05] theweavrs commented on #147
Yes yes. Just run the cmd file.

[2017-05-29 19:06] theweavrs commented on #148
Does the player hang? Do you hear any sound at all when the starts? Also, try loading some other songs and play them.

[2017-05-29 19:10] touseefbsb commented on #147
ok I ran it this time and it worked fine but at the end it gave following output, I am not sure whether this output is an error or not

Nuget Packages Successfully Restored...
Building...
'msbuild.exe' is not recognized as an internal or external command,
operable program or batch file.
Build failed...
Exiting...

[2017-05-29 19:15] touseefbsb commented on #148
I tried to play them from within the player ( from loaded toasts ) then I tried to open file and play from the player and then I tried to right click my music files and open with break player. No the player doesnt hang, it adapts the color, album art,background, song name and everything according to that specific song. then the player movies to 0:01 and doesnt go further, and no I do not hear any

[2017-05-29 19:15] theweavrs commented on #147
The script cannot find msbuild.exe in the given path. Can you confirm that any of these path exist in your PC:

%ProgramFiles%\MSBuild\15.0\bin

%ProgramFiles%\MSBuild\14.0\bin

%ProgramFiles(x86)%\MSBuild\15.0\bin

=%ProgramFiles(x86)%\MSBuild\14.0\bin

To confirm that these exist just paste them in the Run window (press Window Key +R).

[2017-05-29 19:18] theweavrs commented on #148
Strange behavior. Are you sure the songs are not broken or protected somehow? Try playing them in WMP or VLC or Groove.

[2017-05-29 19:18] touseefbsb commented on #147
nop, windows cant find any of these paths according to Run, it gives error on all of above that "it cannot find  path, make your you entered it correctly"

[2017-05-29 19:20] touseefbsb commented on #147
but I manually went to file explorer and I can see both of two following paths/folders
1. C:\Program Files (x86)\MSBuild\15.0
2. C:\Program Files (x86)\MSBuild\14.0

[2017-05-29 19:22] theweavrs commented on #147
Try searching for msbuild.exe. See where its located.

[2017-05-29 19:23] touseefbsb commented on #148
Yes I am succesfully able to play them in other players, just checked again it works fine with groove

[2017-05-29 19:26] touseefbsb commented on #148
there is a possibiliy that problem is only on the insiders preview version of OS because I am running that, Even if I am able to debug the code on visual studio on my PC it wont give any hint because it is not causing any exception.

[2017-05-29 19:27] theweavrs commented on #148
Please upload the log file, perhaps there will some hint to what is happening. It will located in your Music Library folder under **.breadplayer** folder.

[2017-05-29 19:29] touseefbsb commented on #147
I can confirm multiple msbuild.exe files with in this folder "C:\Windows\WinSxS"   but none in the MSBUILD folder in path I described in previous comment

[2017-05-29 19:31] touseefbsb commented on #148
here is the log file

18:01:39:854|INFO | 2|XLog.LogManager|>>> LogManager initialized successfully. UTC time: Mon, 29 May 2017 13:01:39 GMT
18:01:40:372|INFO | 2|BLogger|App launched and session started...
18:01:40:070|INFO | 2|BLogger|Events initialized. Progressing in app constructor.
18:01:40:797|INFO | 2|BLogger|Content set to Window successfully...
18:01:40:797|INFO | 2|BLogger|Navigating to

[2017-05-29 19:32] theweavrs commented on #147
Huh. Strange again. It should be in MSBuild\bin folder. I will confirm this from my own PC and report back.

[2017-05-29 19:36] touseefbsb commented on #147
actually there is no build folder within myMsBuild folder, there are 4 folders in that location
14.0
15.0
Microsoft
Microsoft.cpp
there following 4 folders are present in MsBuild directory

[2017-05-29 19:38] theweavrs commented on #147
Sorry, my mistake. I meant MSBuild\15.0\bin folder.

[2017-05-29 19:39] touseefbsb commented on #147
there is no bin folder in either 14.0 or 15.0 folders as well

[2017-06-06 08:36] cdytoby commented on #144
I would like to translate it into Chinese (it should be zh-cn). Seems not a complicate work. But I have a question to ask: do you really translate "bread" or "toast" into "bread" or "toast" instead of songs? It would be confusing, since it's an audio player instead of "toaster".

[2017-06-06 15:15] theweavrs commented on #144
@cdytoby it is what it is. Sure, I'd really alprecoate it if you do a Chinese translation. And yes, "bread" and "toasts" are both translated into native language. This is Bread's own terminology. A metaphor you can say.

[2017-06-15 15:52] SoColdWinter commented on #144
Hello @theweavrs , I would like to translate your app to spanish because it seems interesting and spanish is my first language :P.
It is my first contribution because i never did it, may I ask you about a guide?
Thank you in advance!

[2017-06-23 19:17] hashhar commented on #128
This works on desktop but still crashes on Windows Mobile. I'll upload the log as soon as I get the chance.

[2017-06-23 19:22] hashhar commented on #128
This is the normal store log. [Log.txt](https://github.com/theweavrs/BreadPlayer/files/1098851/Log.txt)

[2017-06-23 19:35] hashhar commented on #128
[Log.txt](https://github.com/theweavrs/BreadPlayer/files/1098887/Log.txt)
This is the beta log. [Log.txt](https://github.com/theweavrs/BreadPlayer/files/1098887/Log.txt)

[2017-07-04 15:35] great-ssh commented on #148
Hello touseefbsb;
thank you for your report.
there is a little problem on windows creators update (1703) that makes groove and other music players related to it to corrupt.
fortunately we are working on it.
please be patient.
thank you.

[2017-07-04 16:09] great-ssh opened #149 "no one can make a setup file from it"
I think this is a bug that no one can make a setup file from it.
please make it possible.
thank you.

[2017-07-05 01:04] theweavrs commented on #149
@great-ssh I don't think I fully understand what you mean. This is a UWP app. A setup file for BreadPlayer would make no sense unless I release a version for Windows 7, Linux and Mac.

[2017-07-06 11:18] great-ssh commented on #149
Hello, @theweavrs.
You know that this is a UWP app and based on Groove Music.
but i mean no one is going to put it on Microsoft Store because it isn't himselfs or herselfs.
so when a person changes the name and icon or logo and he/she wants to give it to his/her friends, he/she can't because it is made for Microsoft Store.
so no one can use the open source of it and they can go and download ot fro

[2017-07-06 14:49] theweavrs commented on #149
If you mean that if someone wants to install Bread Player outside of Microsoft Store then it is possible. If you go to the Bread Player [releases web page](https://github.com/theweavrs/BreadPlayer/releases) here on GitHub, you will find an .appxbundle for every release and also a way to install it without Microsoft Store.

[2017-07-20 04:05] CharlieFoxTwo opened #151 "Font Capitalization options not displaying properly"
### Actual Behaviour:
![bread](https://user-images.githubusercontent.com/30303272/28400044-a150fec6-6cc5-11e7-8015-335a8d9b5be3.PNG)
![bread2](https://user-images.githubusercontent.com/30303272/28400045-a1527274-6cc5-11e7-93a1-c4741704067a.PNG)

### Expected Behaviour:
Readable strings should be shown in combo box.

### General Information:
1. Bread Player Version: v2.3.0-beta
2. Device Type: PC
3

[2017-07-20 05:07] theweavrs commented on #151
Yes, I can confirm this. Fixing it right away! Thanks for the report

[2017-07-20 15:14] Max-Wang1 opened #152 "The App crashed when trying to use the Windows Volume Control Bar"
### Actual Behaviour:
The App hang and crashed when trying to use the Windows Volume Control Bar (which appears after pressing the hardware volume up/down button) to pause/skip a song.

![capture](https://user-images.githubusercontent.com/20838218/28424603-9b858f44-6da0-11e7-9d31-56bef646b464.JPG)

#### What Happened?
The app hang and crashed.

#### How it happened?
I tested multiple times and it

[2017-07-20 20:55] CharlieFoxTwo commented on #144
I'm looking to get to work on a Russian translation in a bit. I've noticed some misspellings in the English  version ("Appearence" should be "Appearance"...), would you like me to do anything about those?

[2017-07-21 01:41] theweavrs commented on #144
@CharlieFoxTwo Yes, there may be a few misspellings here and there. Correct them as you go and later on send me a list of the corrected words if you can. I will also look into it myself. Thanks.

[2017-07-21 01:43] theweavrs commented on #152
I will look around and see if this can be reproduced. Thanks for reporting.

[2017-07-21 01:44] theweavrs commented on #152
Can you kindly attach the log file too? It would be in you `Music Library` under `.breadplayerlogs` folder.

[2017-07-21 01:53] CharlieFoxTwo commented on #152
Can confirm that both hardware media controls, as well as pressing the on-screen Windows media controls, cause the app to crash. It doesn't seem to be appearing in the error log.

[2017-07-21 02:29] CharlieFoxTwo commented on #152
I fixed it - just a null check on line 187. I pushed a commit but I have never committed to an external project on github before so I have no idea if it worked. Commit is e41f3a96.

[2017-07-21 03:07] Max-Wang1 commented on #152
@CharlieFoxTwo Thanks!!!
@theweavrs  @CharlieFoxTwo  Please check out the log below.

17:54:44:049|INFO | 2|BLogger|App launched and session started...
17:54:44:065|INFO | 2|BLogger|Navigating to Shell...
17:54:44:065|INFO | 2|BLogger|Content set to Window successfully...
17:54:44:741|INFO | 2|BLogger|App left background and is now in foreground...
17:54:47:716|INFO |10|BLogger|Library successfull

[2017-07-21 03:14] Max-Wang1 commented on #152
I tried to reproduce the bug a again, and this time I got a NullReferenceException. Seems that the ArgumentOutOfRangeException is another bug.

11:12:43:922|INFO | 2|BLogger|App launched and session started...
11:12:44:197|INFO | 2|BLogger|App left background and is now in foreground...
11:12:44:774|INFO |14|BLogger|Library successfully loaded!
11:12:50:276|FATAL|17|BLogger|Something caused the ap

[2017-07-21 14:59] #149 closed

[2017-07-22 01:30] CharlieFoxTwo opened #153 "Crash when adding song to playlist"
### Actual Behaviour:
After clicking the (+) sign next to a song and selecting the playlist to add the song to, the app crashes.

### Expected Behaviour:

1.  Create playlist
2.  Add song to playlist
3.  ???
4.  Profit.

### Steps to reproduce the bug:

1.  Create playlist
2.  Add song to playlist
3.  App crashes (no profit)

### General Information:
1. Bread Player Version: v2.3.0-beta
2. Device

[2017-07-22 01:36] CharlieFoxTwo opened #154 "App crash (cause unknown)"
Just something I found in my error log. Not sure what caused it. I'll keep an eye out for it in the future.

### General Information:
1. Bread Player Version: v2.3.0-beta
2. Device Type: PC
3. OS Version: Windows 10 14393.1480

### Additional Comments:
From log:
19:44:51:183|INFO | 3|XLog.LogManager|>>> LogManager initialized successfully. UTC time: Fri, 21 Jul 2017 02:44:51 GMT
19:44:51:192|INFO

[2017-07-22 01:44] theweavrs commented on #154
This is caused when BreadPlayer tries to save some setting on entering background state. Somehow the application data container which holds the settings has exceeded the maximum size limit and so this exception is being raised. I will look for a fix! Thanks for reporting.

[2017-07-22 01:46] theweavrs commented on #153
Ha! Good catch. This will have a simple fix.

Thanks for reporting.

[2017-07-22 02:29] #152 closed

[2017-07-25 12:12] CharlieFoxTwo commented on #17
I've always hated iTunes, but they had a couple of nice features: For every song, you could set a separate start and endpoint for when it is played in shuffle (e.g to get rid of the album intro/outro to next song), or disable shuffling entirely. I plan to fork the branch and get to work on this, but how should we store this data? Any ideas?

[2017-07-25 12:16] theweavrs commented on #17
@CharlieFoxTwo Storing this data is really really easy. In `BreadPlayer.Core` project, there is a `Mediafile.cs` model. Create the properties to hold data there. They will automatically get saved into the database. Next comes actually setting the values for `StartPoint` & `EndPoint`. Any ideas?

[2017-07-25 12:56] CharlieFoxTwo commented on #17
@theweavrs I'm not familiar with any of the APIs, but I assume we have the ability to start a song from whatever time stamp we want, right? We can just present a slider on the properties dialog of the song that allows the user to select start and end point. In order to stop at the end, we would probably need a function like Song.Play(int start, int duration);

The ability to fade in and out at the

[2017-07-25 13:02] theweavrs commented on #17
@CharlieFoxTwo Fade in/out is already there and the `Song.Play(int start, int duration)` like function is also there.

[2017-07-26 00:54] CharlieFoxTwo opened #155 "Playing through all tracks in "Recently Eaten" will then break out of the list"
### Actual Behaviour:
When you reach the end of Recently Eaten, Bread Player plays songs outside of Recently Eaten.

#### What Happened?
Bread Player began to play songs outside of Recently Eaten. Then, when queuing back up in Recently Eaten, some of the songs that just played are added to Recently Eaten, but the context is not updated.

### Expected Behaviour:
Bread Player should remain in Recent

[2017-07-26 01:18] CharlieFoxTwo commented on #17
@theweavrs Running into issues implementing the skip on shuffle. Since you can't create playlists currently, the only way for me to test is to reset my library and import an album as my library. However, for a 12 track library, I noticed severe problems with the track selection and playback - it will play a few songs, before getting stuck on one. Trying to skip forward or backward only pauses the

[2017-07-26 09:33] theweavrs commented on #17
@CharlieFoxTwo I am fixing the playlist feature, will push a commit today. The current library backend is really, really buggy and duct-taped. I plan on fixing all these issues, including #155. A much-needed clean-up of the code will also take place very soon. So, hopefully, these issues will be fixed.

[2017-07-26 09:33] theweavrs commented on #17
@CharlieFoxTwo Can you please send me your log file? I would like to see all the error details.

[2017-07-26 14:31] #153 closed

[2017-07-26 14:38] theweavrs opened #156 "Next song to the currently playing song also get added to Recently Eaten"
### Actual Behaviour:
The next song to the currently playing song also get added to Recently Eaten when the current song ends.

#### What Happened?
On reaching the end of the song, the player added it and the next song to the recently eaten collection.

#### How it happened?
**NIL**

### Expected Behaviour:
Only the currently playing song should get added to the recently eaten collection.

#### Wh

[2017-07-26 14:43] #156 closed

[2017-07-26 15:04] #155 closed

[2017-07-26 15:16] #154 closed

[2017-07-26 16:08] theweavrs opened #157 "Improve shuffle"
@CharlieFoxTwo on #17 :

On a 12 song library, the repeat skipping is to be expected because the library is so small. Basically, what BreadPlayer does when you enable Shuffle is create a random `Array` of `Mediafile`s and then when a user presses the next button, it takes the *`Index` of the currently playing song from the `OriginalCollection` and adds `1` to it. The next song is the song that sit

[2017-07-26 16:19] theweavrs opened #158 "Player foreground color should change according to the luminosity of the accent color"
Currently, if an accent is very bright we cannot see the text. It would be very nice to calculate the luminosity of the accent color and change the foreground color accordingly.

[2017-07-26 19:16] theweavrs commented on #158
Done.

[2017-07-26 19:16] #158 closed

[2017-07-26 19:26] theweavrs commented on #147
@touseefbsb Sorry for so late a reply 😞 But if you are still having this error, you can find MSBuild.exe here:
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin

[2017-07-26 20:09] #151 closed

[2017-07-26 20:11] theweavrs commented on #143
This was fixed.

[2017-07-26 20:11] #143 closed

[2017-07-26 21:12] CharlieFoxTwo commented on #157
It probably isn't even necessary to set the index to a random number after reshuffling, just setting it to 0 should be fine.

Possible issue: it could end up playing the same song twice in a row. While this might actually be "truly" random, I assume most users don't want this.

[2017-07-26 21:15] theweavrs commented on #157
@CharlieFoxTwo good point.

[2017-07-26 21:24] CharlieFoxTwo commented on #157
I think the best way to do this would be to create an array of all of the songs in the playlist, and shuffle said array. When we get to the end, just start from the beginning again. I think this is what other players do, and personally I've never had an issue with it.

[2017-07-26 21:26] theweavrs commented on #157
@CharlieFoxTwo I have already fixed and committed it, just wanted your input. Will make changes accordingly. Most of the bugs should now be fixed. I am working on Playlists and fixing bugs there.

[2017-07-26 21:57] theweavrs commented on #157
Closing this as the task is done.

[2017-07-26 21:57] #157 closed

[2017-07-26 22:43] theweavrs commented on #131
this only occurs in DEBUG mode. And not an issue with the player itself but with UWP libs. So closing this.

[2017-07-26 22:43] #131 closed

[2017-07-26 22:45] #88 closed

[2017-07-26 22:46] theweavrs commented on #148
closing due to inactivity and this bug is also not reproducible.

[2017-07-26 23:57] CharlieFoxTwo commented on #17
@theweavrs I'll see if it has anything when I get home. Great to see so many issues closed today. Do you have an estimate as to when the new build might be out? I'd like to rebase onto it before continuing with the skip on shuffle implementation.

[2017-07-27 00:14] theweavrs commented on #17
@CharlieFoxTwo 1-2 days probably but could be more or less. Basically, this release will be focused on bug-fixes so I am not adding anything big, so yeah 1-2 days probably and the new release will be out and about.

[2017-07-27 02:29] CharlieFoxTwo commented on #17
@theweavrs here is my log file

[Log.txt](https://github.com/theweavrs/BreadPlayer/files/1178578/Log.txt)

[2017-07-27 03:20] theweavrs commented on #17
@CharlieFoxTwo I fixed all the exceptions in the Log file already. Thanks anyway 😄

[2017-07-31 05:36] theweavrs commented on #17
@charliefoxtwo I have released the new version. You can continue with the skip on shuffle.

[2017-07-31 11:57] charliefoxtwo commented on #17
@theweavrs sweet! Will do.

[2017-08-03 13:44] theweavrs commented on #17
@charliefoxtwo What news? Are you any closer to a basic implementation of the feature?

[2017-08-03 17:52] touseefbsb commented on #148
just wanted to remind you that I tried it again and problem is still the same, I hope it gets fixed soon :) Thanks

[2017-08-03 18:16] touseefbsb opened #159 "Bass dll not found exception"
System.DllNotFoundException: 'Unable to load DLL 'bass': The specified module could not be found. (Exception from HRESULT: 0x8007007E)'

I got this exception when I tried to debug. exception occurred in file "BASSPlayerEngine.cs" at line 254.

get => Bass.ChannelBytes2Seconds(_handle, Bass.ChannelGetPosition(_handle));  //Line 254

[2017-08-03 18:27] theweavrs commented on #159
That means you have not placed the specified bass.dll in the correct directory.  You should reclone and try to debug again.

[2017-08-03 18:34] theweavrs commented on #148
I do not have Fall Creators Update so cannot test this or reproduce this. Anyhow, I will keep this open as there might be a bug. Thanks for contributing.

[2017-08-03 20:06] charliefoxtwo commented on #17
@theweavrs Haven't been able to work on it much this week. Started on it last weekend. Logic is implemented, just need to handle the UI and property binding. Was working on it last weekend (and I swear I had it working before I rebased...), and I'll get back to work on it this weekend for sure.

[2017-08-04 05:38] theweavrs opened #160 "Player does not play sound to external headphones or speakers in Windows 10 Mobile"
### Actual Behaviour:
When a headphone or an external speaker is connected, the player keeps playing audio from the internal phone speakers.

#### What Happened?
The player did not change the output device when speakers were connected.

#### How it happened?
I connected the speakers into the headphone jack.

### Expected Behaviour:
The player should change its audio output device when another devi

[2017-08-04 05:42] theweavrs opened #161 "Album songs not being displayed"
### Actual Behaviour:
When opening an album, it is always empty and the player displays no songs.

#### What Happened?
The player did not display any album songs.

#### How it happened?
I simply opened a random album and was presented with nothing.

### Expected Behaviour:
The player was expected to display the album songs.

#### What were you expecting?
I was expecting to see the album songs.

##

[2017-08-04 05:44] theweavrs commented on #128
@hashhar is the app still crashing?

[2017-08-04 05:45] #160 closed

[2017-08-04 05:52] theweavrs commented on #17
@charliefoxtwo Okay, no problem. If you are having any problem or if there are any other bugs you find, feel free to report.

Also, you should open a pull request for the feature, it will organize things more and you will find it easier to contribute further.

thanks

[2017-08-05 06:28] hashhar commented on #128
No. I just installed it again from the store this time and haven't seen any crashes yet.

[2017-08-05 10:58] theweavrs commented on #128
Closing this as issue has been resolved.

[2017-08-05 10:58] #128 closed

[2017-08-05 13:48] theweavrs opened #163 "When playing a song from the library, it does not start"
### Actual Behaviour:
When a song is played from the library, it does not start but stays stopped.

#### What Happened?
The player did not start playing the song as it should have.

#### How it happened?
Nil

### Expected Behaviour:

#### What were you expecting?
The player was expected to immediately start playing the song.

### Steps to reproduce the bug:
1. Start player and play a song from the

[2017-08-05 18:41] charliefoxtwo opened #164 "Seek backwards does not function as expected"
### Actual Behaviour:
Seeking backwards plays the song that was last played

#### How it happened?
1. If you start the app, play a song, and then try to seek backwards, it won't go anywhere.
2. If you are shuffling, and then turn shuffle off and seek backward, it will play the song that was last played.

### Expected Behaviour:
1. If shuffle is off, the song directly before the song you are trying

[2017-08-05 18:47] charliefoxtwo commented on #17
@theweavrs got some time to work on the Skip on Shuffle today. The property seems to not be persisting between each run of the application. Am I missing something?

    private bool _skipOnShuffle;
    public bool SkipOnShuffle { get => _skipOnShuffle; set => Set(ref _skipOnShuffle, value); }

I also reworked the shuffle method to check for the skip on shuffle option, which seems to be working. Ho

[2017-08-06 13:30] #161 closed

[2017-08-06 13:30] #163 closed

[2017-08-06 13:39] theweavrs commented on #17
@charliefoxtwo Sorry for the late response. I was having some internet issues.

About the persistence issue, yes that is expected. Basically, you have to call Database.Update() like function so that it may know that the value has updated. Look at this example:
[code]
This example code is used in saving the `PlayCount` and `LastPlayed` properties of the song that is ending. Which are further used i

[2017-08-06 13:48] theweavrs commented on #164
I copied this behavior from Groove Music Player. Basically, we are playing from history when you tap on Previous button. I have been thinking on how to improve this as I, too, am frustrated when nothing happens on seeking backwards.

I think rebuilding the playlist is essential here. Or else you will be going through the same indexes and same songs again and again. That beats the purpose of a shuf

[2017-08-06 14:13] charliefoxtwo commented on #164
@theweavrs I have started working on my implementation of shuffle. Basically, whenever you toggle the shuffle button, it rebuilds the playlist (to shuffled vs non-shuffled). This allows you to seek forward and backward without managing a history, as it just advances to the next index in either direction. So far it seems to be working.

I can see how rebuilding the playlist might be a beneficial fu

[2017-08-06 14:22] theweavrs commented on #164
That issue has been resolved :)

I will look into your implementation once you PR it and see if it is better or worse. There is a question, why would you want to shuffle backwards? Doing so is unnecessary, you would always shuffle forward and the backward button would be used for when you want to listen to the previous song again. The history comes into play there.

Currently, shuffle only works o

[2017-08-06 14:32] theweavrs commented on #164
I just comitted the changes to not rebuild the collection on reaching the end. [commit](https://github.com/theweavrs/BreadPlayer/commit/3dd1266b96edb539b1d9e6ae14d5fc7d6fe2a0e6)

[2017-08-06 15:06] charliefoxtwo commented on #164
@theweavrs I think the ability to skip backwards when shuffling (if a little odd) is certainly better than nothing happening when skipping backwards. It not that you would *want* to do it, so much as you would *not want* nothing to happen when doing it, intentionally or otherwise.

[2017-08-06 15:08] theweavrs commented on #164
I think a better approach might be to just play the song from the history and when the history ends, start shuffling backwards. Same approach for the non-shuffle environment. Play from the history until in ends and then play the previous song.

[2017-08-06 18:08] charliefoxtwo commented on #164
@theweavrs all seems to be working now, except my quick and dirty implementation broke shuffle in playlist (I'm not surprised - I just threw it together to see if it would work). I'll keep working on that.

The other issue that I'm running into is that if you enable skip on shuffle in a playlist, it doesn't seem to propagate outside of that playlist until you restart (both visually and in practice

[2017-08-06 18:16] theweavrs commented on #164
Making it a setting would just confuse users.

Now that I think about it...there is no need for a history. Basically, when we shuffle and seek forward, we are increment the index by 1 and not a random number. So it stands to reason that the previous song will always be `CurrentIndex - 1`. And it will work the same way when we are not shuffling. So...history is not even needed as it is an extra ste

[2017-08-06 18:17] charliefoxtwo commented on #164
@theweavrs I've got a fork on my profile because I have no idea wtf I'm doing with github or how pull requests work lol. I'll push the code to there soon, and you can take a look at what I've done. I haven't deleted the history, I'm just... not using it lol. It could really be cleaned up, but at least you could take a look and see my implementation.

[2017-08-06 18:24] charliefoxtwo commented on #164
@theweavrs pushed to my fork https://github.com/charliefoxtwo/BreadPlayer/commit/e465b7eb47833280d8f5efc7cba9b75a44ad45e5

[2017-08-06 18:26] theweavrs commented on #164
@charliefoxtwo Is the `SkipOnShuffle` property song specific?

[2017-08-06 18:29] theweavrs commented on #164
@charliefoxtwo Make a PR so I can properly review your edits and changes. There are a lot of code improvements that can be implemented in your code.

Here's how to open a PR:
![clickhere](https://user-images.githubusercontent.com/7473959/29005903-1cb17860-7aff-11e7-8b98-26d5cc76c12c.PNG)

[2017-08-06 18:34] theweavrs commented on #147
closing due to inactivity

[2017-08-06 18:34] #147 closed

[2017-08-06 18:41] charliefoxtwo commented on #164
@theweavrs it was a **really** messy implementation, so go nuts lol https://github.com/theweavrs/BreadPlayer/pull/166

[2017-08-06 22:29] theweavrs opened #169 "jumplist not visible"
### Actual Behaviour:
When clicking on an alphabet in a sorted/grouped list, the jumplist doesn't become visible.

#### How it happened?
I sorted the list by A-Z and then clicked on an alphabet but was presented with a blank screen.

### Expected Behaviour:

#### What were you expecting?
Jumplist should become visible.

### Steps to reproduce the bug:

1. Sort/Group the list.
2. Click on an alphab

[2017-08-06 22:40] #169 closed

[2017-08-06 23:22] mickaj commented on #144
Hi there! I'll happily do Polish (pl-PL). Cheers!

[2017-08-07 00:07] theweavrs commented on #144
@mickaj I will add your name into the list! Welcome to Bread Family 😆

[2017-08-07 06:31] theweavrs commented on #144
@charliefoxtwo can you start the work on Russian Translation? Would really appreciate it.

[2017-08-11 02:40] cadayton opened #170 "Windows 10 mobile - App dominates the 950XL device"
### Actual Behaviour:  In order to stop the Bread Player, I have to power cycle Window 10 Mobile

#### What Happened?
Just playing around with the App, but the app dominates the device to the degree that the device must be power cycled.  The device is a 950XL.

#### How it happened?
Just executing the app.

### Expected Behaviour:
I expect to be able to put the app in the background and use other

[2017-08-11 23:13] theweavrs commented on #170
Hi,

If you could please provide the log file also, I would appreciate it very much. It will be in your `Music` folder under `.breadplayerLogs` folder.

As for version problem, you are kinda right. It is not very well placed but I am working on a better UX so you won't have that problem. In case you still need to know the version, it will be in Settings > About.

[2017-08-12 07:04] jevonsflash opened #171 "播放列表的奇偶行表现混乱了"
### Actual Behaviour:

#### What Happened?
播放列表的奇偶行表现混乱了

#### How it happened?
当我在这个控件拖动排序歌曲后，两个本应该交替表现的样式堆积在一起了

### Expected Behaviour:
应该重新使两个样式交替出现

#### What were you expecting?
重新刷新AlternatingRowListView这个控件的样式呈现吧

### Steps to reproduce the bug:

1. 在所有涉及这个控件的地方都会出现这个bug

### General Information:
1. Bread Player Version:v 2.5.0 beta
2. Device Type: Win10
3. OS Version: 10586
4. Device Mode

[2017-08-12 21:56] cadayton commented on #170
HI,

Attached is the log.  Thanks.  Now I know where to find the version info.

Craig Dayton
cadayton@protonmail.com
360-466-8778
paypal.me/CraigDayton

Sent with [ProtonMail](https://protonmail.com) Secure Email.

[2017-08-12 23:23] theweavrs commented on #170
@cadayton sorry can't see any attached files. Can you please mail me the log at enkaboot@gmail.com? Thanks

[2017-08-16 00:22] Pantherinae opened #172 "Mobile - Pressing the back button puts the application into the background."
No matter where you are within the app pressing the back button on mobile makes the app go into the background.
Wouldn't the expect behaviour be if I go into settings, press the back button it should return to the home or to where you were previously?

[2017-08-16 00:24] theweavrs commented on #172
@Pantherinae this is strange. I fixed this issue a while back. Will investigate and see if it can be reproduced.

[2017-08-16 00:25] Pantherinae opened #173 "Mobile - Trying to play song that was downloaded through groove music pass"
When BreadPlayer tries to play a song that was downloaded through groove music pass it continues to try and play that song instead of skipping it.

[2017-08-16 00:26] theweavrs commented on #173
Already working on fixing this. Thanks.

[2017-08-16 00:27] Pantherinae commented on #172
@theweavrs I should of specified which back button im talking about. Which is the Phone back button not bread player back button.

[2017-08-16 00:28] theweavrs commented on #172
@Pantherinae Meant the same. I removed the BreadPlayer back button precisely because the Phone Back button worked. 😄

[2017-08-16 00:33] Pantherinae commented on #172
@theweavrs What version did you remove it from? Cause the current build I have still has the Bread Player back button.

[2017-08-16 00:35] theweavrs commented on #172
@Pantherinae What build do you have? I can't see it in 2.6.1.

[2017-08-16 00:38] Pantherinae commented on #172
@theweavrs 2.1.6-beta on a Lumia 950xl on with display at 350%

[2017-08-16 15:05] theweavrs commented on #84
fixed.

[2017-08-16 15:05] #84 closed

[2017-08-16 15:06] theweavrs commented on #173
Fixed.

[2017-08-16 15:06] #173 closed

[2017-08-26 05:19] ErwinSuwito commented on #17
Hi, I don't really know what you use to show the user's library, but I think you use ListView to show all the user's music and ListView and SemanticZoom when grouping them based on artists. Can you please add the option so that the user's library when grouping them based on artists or albums would be displayed as grids instead of lists.

[2017-08-26 05:34] theweavrs commented on #17
@ErwinSuwito I will add your suggestion to the suggestion list. What you are asking is possible but will take quite a rework so there will be sometime before you actually see it in production. Thanks for the suggestion.

[2017-09-14 18:26] theweavrs commented on #172
This is fixed and pushed for 2.7.0 release.

[2017-09-14 18:26] #172 closed

[2017-09-16 01:22] Natank7 commented on #144
want translate to PT-BR

[2017-09-16 04:34] theweavrs commented on #144
@Natank7 I added you name to the WIP list. Please proceed with the translation.

[2017-09-16 15:33] Natank7 commented on #144
Can i adapt some expressions to the 'theme'? Like: Library -> Pantry (in my language, of course)

[2017-09-16 16:27] theweavrs commented on #144
@Natank7 As much as I would like to do that, it will be too confusing. People are already asking to use the normal theme instead of the Bread theme. So...just go with the flow.

[2017-09-16 16:33] Natank7 commented on #144
ok

[2017-09-25 14:18] thewan056 commented on #17
Hi, how about streaming music from Media Servers. It seems a lot of touch screen friendly music player apps lack built in functionality to do so.

[2017-09-25 16:42] theweavrs commented on #17
@thewan056 I think DLNA (#2 suggestion) covers that or is Media Server Streaming different?

[2017-09-25 17:52] thewan056 commented on #17
@theweavrs not necessarily. Some media players have DLNA servers, but lack the ability to stream from them. Having both would be a huge plus, but as there are many capable DLNA servers, I suggest priotizing DLNA streaming over serving.

[2017-09-26 13:45] theweavrs commented on #17
@thewan056 DLNA and other devices is my first priority after I release v2.7.0. I already have done a basic device implementation but its not anything big. What I really want is Bread Player to detect Mobile and Media devices and then Sync and stream music from them. It will be a challenging task but I am looking forward to it.

[2017-09-30 01:17] theweavrs opened #175 "Foreground color of shortcuts in Mobile/small screens not changing at all."

[2017-09-30 01:19] theweavrs opened #176 "NowPlaying song's foreground not changing to white in Mobile/Small Screens"

[2017-09-30 01:23] theweavrs opened #177 "Header not hiding in PlaylistView."

[2017-09-30 01:26] theweavrs opened #178 "Margins of elements in PlaylistView not right"

[2017-09-30 01:34] theweavrs opened #179 "ProgressRing not hidden when navigating to Albums from Artists."

[2017-09-30 01:38] theweavrs opened #180 "Playlist collection is not updated when a new playlist is created"

[2017-09-30 01:44] theweavrs opened #181 "Playlists are not loaded on startup"

[2017-09-30 02:06] #175 closed

[2017-09-30 02:06] #176 closed

[2017-09-30 02:06] #177 closed

[2017-09-30 02:06] #178 closed

[2017-09-30 02:06] #179 closed

[2017-09-30 02:06] #180 closed

[2017-09-30 02:06] #181 closed

[2017-10-08 06:09] theweavrs opened #183 "App crash when song is about to end"
[code]

[2017-10-08 06:09] theweavrs opened #184 "App crash when albums and artists are being added to Database"
[code]

[2017-10-09 16:52] theweavrs opened #185 "App crash when navigating to Bakers"

[2017-10-10 15:10] theweavrs opened #186 "App crash when navigating through settings"

[2017-10-11 11:36] #183 closed

[2017-10-11 11:38] #184 closed

[2017-10-11 11:38] #185 closed

[2017-10-11 11:38] #186 closed

[2017-10-14 05:41] MilkmanDan commented on #17
What about an ability to download playlists to an MP3 player or USB thumbdrive?

[2017-10-14 05:45] MilkmanDan commented on #17
Ability to use this player on Chrome via Chromebook would be nice.

[2017-10-14 05:52] theweavrs commented on #17
@MilkmanDan Chrome Apps are JavaScript based and I don't think they can handle C# or any other such language officially.

As for your first request, Internet Capabilities are being implemented gradually. You will see a lot of improvements in the next versions. In the meantime, I will add your suggestion to the list.

[2017-10-16 17:03] theweavrs commented on #144
@mickaj @ududsha @Natank7 In the last few versions, the Resource.resw file was changed, I would like you to re-translate the updated strings if you have time. Thanks. Please use [ResXManager ](https://clickonce-tom-englert.azurewebsites.net/ResXResourceManager/ResXManager.application)for faster translations.

[2017-10-16 17:05] mickaj commented on #144
@theweavrs I'll take care of that during the weekend. can't do it any time sooner, sorry.

[2017-10-16 17:06] theweavrs commented on #144
@mickaj No problem. As long as you can do it, all's well and good. Thanks.

[2017-10-17 19:59] theweavrs opened #188 "Duplicate songs, albums and artists showing."
### Actual Behaviour:

#### What Happened?
The tracks are added twice. Albums and artists too.

#### How it happened?
This happens on song import on startup.

### Expected Behaviour:

#### What were you expecting?
Everything should be added only once.

### Steps to reproduce the bug:

1. Start the player.
2. Wait for the tracks to import.
3. You will notice that the songs appear twice.

### Genera

[2017-10-17 20:05] theweavrs opened #189 "Donate and watch an ad do not work"

[2017-10-17 20:43] #189 closed

[2017-10-18 17:42] theweavrs commented on #171
Closing this as it is fixed in the previous releases.

[2017-10-18 17:42] #171 closed

[2017-10-18 17:43] theweavrs commented on #170
@cadayton  is this still happening in the latest versions?

[2017-10-18 17:44] theweavrs commented on #164
Closing as it was completed.

[2017-10-18 17:44] #164 closed

[2017-10-18 17:45] theweavrs commented on #148
Tested on Fall Creators Update RTM and cannot reproduce. Closing. Please reopen if you are still having these issues.

[2017-10-18 17:45] #148 closed

[2017-10-18 17:45] theweavrs commented on #159
Closing this as it has been inactive for over 2 months.

[2017-10-18 17:45] #159 closed

[2017-10-18 17:46] #188 closed

[2017-10-19 10:46] theweavrs opened #190 "Equalizer cannot be reopened after opening once"
### Actual Behaviour:

#### What Happened?
The player did not open the equalizer after closing it and reopening it.

#### How it happened?
It happened by simply clicking the equalizer button to open it.

### Expected Behaviour:

#### What were you expecting?
The equalizer should have opened again.

### Steps to reproduce the bug:

1. Run player and open the equalizer.
2. Close it by clicking outsi

[2017-10-19 10:49] theweavrs opened #191 "Audio glitches"
Player has some audio glitches due to memory leaks etc while:
- [x] Navigating
- [x] Opening equalizer.
- [x] Tuning equalizer.
- [x] playing songs from plalist/album/artist (mobile)

[2017-10-19 15:04] #190 closed

[2017-10-20 01:53] cadayton commented on #170
I'll download the latest and get back to you.

Craig Dayton
cadayton@protonmail.com
360-466-8778
paypal.me/CraigDayton

Sent with [ProtonMail](https://protonmail.com) Secure Email.

[2017-10-20 03:05] cadayton commented on #170
Did a clean install of 2.7.3.0 and it loaded the 3483 songs in a normal expected amount of time.  Overall this is much improved the prior version because I can play some songs, but there are still some issues that I've discovered so far.

Really like the lyrics feature.  I'm still exploring and discovering the other features.

1. Song play pauses in the middle of the song for unknown reason.  Some

[2017-10-30 18:09] cpxPratik opened #192 "About a broken link on readme.md"
LInk for `Windows Universal Apps` on https://github.com/theweavrs/BreadPlayer#build-notes is broken. https://developer.microsoft.com/en-us/windows/apps may be the right one.

Twitter link would be great since i surf dev-related stuff through twitter, no need necessarily though.

[2017-10-30 20:00] theweavrs commented on #192
Thanks for the report. I fixed it just now. As for the twitter link, will add it ASAP. Here's the twitter link if you need it: [BreadPlayer Twitter](https://twitter.com/yourbreadplayer)

[2017-10-30 20:00] #192 closed

[2017-10-31 00:46] adebiyial commented on #191
No audio glitches in mine. However I helped did a "read peoples comment" survey on Windows Central. Glitches happen when some people load so many songs from their library. And instead of the little popups that flicker while songs load, I think it'd be better for there to be a "loading music" popup. This popup should work async and a little humour could even work.

[2017-10-31 01:52] theweavrs commented on #191
@adebiyial I have rooted it many audio glitches in the last versions.

I fixed the flicker popup issue way back but your idea seems plausible. What do you suggest? And of course, I can't wait to hear what you would suggest for a little humour. I love that.

Thank.s

[2017-10-31 01:53] theweavrs opened #193 "Error occured while resetting the player."
https://sentry.io/abdullah-atta/breadplayer/issues/395592896/

[code]

[2017-10-31 01:53] theweavrs opened #194 "An error occured while trying to play next song."
https://sentry.io/abdullah-atta/breadplayer/issues/395594276/

[code]

[2017-10-31 01:54] theweavrs opened #195 "System.OutOfMemoryException: Exception (App Crash)"
https://sentry.io/abdullah-atta/breadplayer/issues/395521634/

[code]

[2017-10-31 01:55] theweavrs opened #196 "Some problem with Database causing unneeded crashes."
https://sentry.io/abdullah-atta/breadplayer/issues/395593675/

[code]

[2017-10-31 01:57] theweavrs opened #197 "Internet Status is detected as NotConnected when there is Internet"

[2017-10-31 10:43] theweavrs opened #199 "App crash when navigating to NowPlayingView"
https://sentry.io/abdullah-atta/breadplayer/issues/395672867/

[code]

[2017-10-31 10:44] theweavrs commented on #199
https://sentry.io/abdullah-atta/breadplayer/issues/395669948/

[2017-10-31 15:36] iamanas20 opened #200 "I can't build with Visual Studio 2017 to start contributing!"
### Actual Behaviour:

#### What Happened?
_I was following your guidelines on how to contribute, and when I want to build it says that pretty much every namespace is not defined or imported:
![image](https://user-images.githubusercontent.com/27561160/32232995-3f37827c-be51-11e7-8581-e9699989d589.png)

#### How it happened?
_I have no idea_

### Expected Behaviour:

#### What were you expecting?
_

[2017-10-31 17:35] theweavrs commented on #200
Can you please tell me:
1. The version of Windows 10 SDK
2. The version of Visual Studio 2017 (Go to Help > About Microsoft Visual Studio)
3. The version of .NET Core?

As a hit and trial: can you this:
1. Unload the project and reload it.
2. Try restoring nuget by Right Clicking on the .sln in the Solution Explorer and pressing "Restore Nuget Packages".

Thanks, hope this helps.

[2017-10-31 18:17] iamanas20 commented on #200
I restored nuget packages, and most of the errors are gone, only one's left I have no idea what is it!
![image](https://user-images.githubusercontent.com/27561160/32240317-f1013026-be64-11e7-99ba-86e75a09aeb1.png)

1. Windows 10 SDK for Fall Creators Update (10.0.16299.15
2. Visual Studio 2017 version 15.5.0 preview 1
3. .NET CORE 2.0

[2017-10-31 18:18] theweavrs commented on #200
Your version are all good (better than mine 😆 ). That error is about the project BreadPlayer.Controls. Try building it separately.

[2017-10-31 18:42] iamanas20 commented on #200
for some reason the BreadPlayer.Controls does load. I open the output window and this is what's been shown:
![image](https://user-images.githubusercontent.com/27561160/32242482-da4b5ea0-be6a-11e7-9378-79420c008e5d.png)

🤔

[2017-10-31 18:45] theweavrs commented on #200
I think the BreadPlayer.Controls project is targeting an old version of Windows 10 SDK which you do not have. Simply do this:

Open the .csproj file in a Text Editor.
Find and replace these two lines:
[code]
With these:
[code]

[2017-10-31 22:31] iamanas20 commented on #200
I got it to work, thanks man, looking forward to be a great contributor to you! any tips, guidelines or a checklist of the features you guys are working on or you wanna add, just briefly right here!

[2017-11-01 01:41] theweavrs commented on #200
@iamanas20 That's good news! Congrats. 👏 The one feature that I cannot implement but really need it is XBox One support. If you happen to have that, that would be a **tremendous** contribution.

Anyhow, since there is a less chance of the above, here's a small list of things you can do:
1. Currently I am working on Folder Navigation and have nearly completed the basics of it. You can help me with

[2017-11-04 13:35] #199 closed

[2017-11-04 13:46] #197 closed

[2017-11-04 13:46] theweavrs commented on #170
closing as it seems fixed. Reopen if that is not the case.

[2017-11-04 13:46] #170 closed

[2017-11-04 13:55] #194 closed

[2017-11-04 17:45] #196 closed

[2017-11-04 18:00] #193 closed

[2017-11-04 18:00] #195 closed

[2017-11-04 18:36] theweavrs opened #201 "App crash when opening app with arguments"
https://sentry.io/abdullah-atta/breadplayer/issues/396538045/

[code]

[2017-11-04 19:10] theweavrs opened #202 "App crash when playing album"
[code]

[2017-11-08 12:28] #201 closed

[2017-11-08 12:28] #202 closed

[2017-11-12 01:29] theweavrs commented on #200
Closing as the issue seems fixed.

[2017-11-12 01:29] #200 closed

[2017-11-12 01:32] theweavrs opened #203 "Player fails to play sound from bluetooth headphones if they are connected after the app was running"

[2017-11-14 11:35] theweavrs opened #204 "Startup crash due to an error in InternetConnectivityHelper"
https://sentry.io/abdullah-atta/breadplayer/issues/403800365/

[code]

[2017-11-14 11:36] theweavrs commented on #204
Fixed in: [commit](https://github.com/theweavrs/BreadPlayer/commit/3e9d4fae0b326ab524abc15f953a44e9bc57241c)

[2017-11-14 11:36] #204 closed

[2017-11-14 11:38] theweavrs opened #205 "App crash when application is suspending."
https://sentry.io/abdullah-atta/breadplayer/issues/403837498/

[code]

[2017-11-14 11:40] theweavrs opened #206 "Error while getting transaction."
https://sentry.io/abdullah-atta/breadplayer/issues/403794306/

[code]

[2017-11-14 11:42] theweavrs opened #207 "App crash when initializing BreadDispatcher"
https://sentry.io/abdullah-atta/breadplayer/issues/404208932/

[code]

[2017-11-14 11:45] theweavrs opened #208 "An error occured while loading music. (instance exception)"
https://sentry.io/abdullah-atta/breadplayer/issues/403870758/

[code]

[2017-11-14 11:45] theweavrs commented on #207
https://sentry.io/abdullah-atta/breadplayer/issues/404135599/

[2017-11-14 11:46] theweavrs commented on #207
https://sentry.io/abdullah-atta/breadplayer/issues/404087258/

[2017-11-14 11:47] theweavrs opened #209 "Error occured while updating SMTC."
https://sentry.io/abdullah-atta/breadplayer/issues/404052390/

[code]

[2017-11-14 11:47] theweavrs opened #210 "Handle OneDrive exceptions in a better way"
https://sentry.io/abdullah-atta/breadplayer/issues/403962095/

[code]

[2017-11-14 11:49] theweavrs opened #211 "Exception occured when PlayerState is changed through SMTC"
https://sentry.io/abdullah-atta/breadplayer/issues/403837347/

[code]

[2017-11-14 17:00] theweavrs opened #212 "Import Folder dialog fails to show up on some devices"

[2017-11-14 17:26] #206 closed

[2017-11-14 17:35] #207 closed

[2017-11-14 18:54] #208 closed

[2017-11-14 19:12] #209 closed

[2017-11-14 19:12] #212 closed

[2017-11-14 19:15] theweavrs opened #213 "App crash when inserting records into Database"
https://sentry.io/abdullah-atta/breadplayer/issues/403916356/

[code]

[2017-11-14 19:18] #213 closed

[2017-11-15 03:03] #210 closed

[2017-11-15 04:36] theweavrs opened #214 "SD Card not detected sometimes on Mobile"

[2017-11-15 05:43] #214 closed

[2017-11-15 05:46] #205 closed

[2017-11-15 05:46] #211 closed

[2017-11-15 08:35] #203 closed

[2017-11-15 09:23] theweavrs opened #215 "Audio glitches and player hangs when navigating inside Toast History"

[2017-11-15 20:31] trbryant opened #216 "It Crashes"
### Actual Behaviour:
Open Bread Player, I click on the magnifying glass (search) and I type "Minimalist" in the search bar and hit enter.  Search results return with Bakers, Breads and Toasts with the "Show All" dialog to the right.  I click Show All next to Bakers
#### What Happened?
_[Write detailed explaination of what actually happened. Did the app crash? Did the app hang? etc.]_
The app cras

[2017-11-16 02:07] theweavrs commented on #216
I will investigate this right away. Fix coming soon. :)

[2017-11-16 11:54] theweavrs commented on #216
Can you please provide the log? It will be in your Music Library under .breadplayerLogs folder. It will be a file named BreadPlayer.log. Send that to me at: enkaboot@gmail.com.

Thanks.

[2017-11-17 05:56] ahmedflix25 commented on #144
Resources.resw the file is 404

[2017-11-17 08:58] theweavrs commented on #144
@ahmedflix25 Fixed. Thanks for informing me :)

[2017-11-17 11:52] ahmedflix25 commented on #144
still a 404
https://github.com/theweavrs/BreadPlayer/wiki/I-Want-To-Translate!
https://raw.githubusercontent.com/theweavrs/BreadPlayer/master/BreadPlayer.Views.UWP/Strings/enww/Resources.resw

[2017-11-17 13:45] theweavrs commented on #144
@ahmedflix25 check now! 😆 Seems I made a mistake again :)

[2017-11-17 14:43] ahmedflix25 opened #217 "a little anarchy"
Can you add a "Random" button that let me play songs completely random.
Let's say "Now Baking" have song 1 - song 2 - song 3 - song 4 - song 5 etc
unlike shuffle which sort them randomly then play them from top to bottom in the new order the new "Random" button will choose and play a song randomly from the playlist.

[2017-11-17 15:58] ahmedflix25 commented on #144
well, now the whole wiki page is 404
going to the link just redirect me to the wiki home page which have nothing to do with the translation file anyway i pulled the whole source code and got it

[2017-11-17 16:04] theweavrs commented on #217
Certainly a cool feature! I will look into implementing it. If you can help, feel free to do so. I will help you along the way! :)

[2017-11-17 16:15] ahmedflix25 commented on #217
unfortunately, i am a desktop developer but i am working on an Arabic translation right now

[2017-11-17 16:16] theweavrs commented on #217
@ahmedflix25 No problem. Appreciate it.

[2017-11-17 17:22] ahmedflix25 commented on #217
well the translation page is gone with how to send you one
so here it's the Arabic -Egypt- one
https://mega.nz/#!l9glxDRD!WHYlhZY3nrdxlZXjDR6ji0S9m2dc1Zsz_3fVBfKCxF4

[2017-11-18 06:53] theweavrs commented on #217
@ahmedflix25 Make a PR.

[2017-11-18 17:34] ahmedflix25 commented on #217
done

[2017-11-19 07:46] ahmedpiosol commented on #135
i really doubt that even now there is people who still uses Windows XP and it have more share on desktops than linux so "users will eventually move on to Windows 10" may take a very very very long time
support for windows 7 specially is a good move

[2017-11-26 16:29] theweavrs opened #219 "Different thread error when loading music."
https://sentry.io/abdullah-atta/breadplayer/issues/409142211/

This is related to the ObservableCollection used in initializing the Equalizer. Should convert it to TSOC.

[code]

[2017-11-26 16:43] theweavrs opened #220 "Exception during folder import if file path is longer than 260 characters"
https://sentry.io/abdullah-atta/breadplayer/issues/409678624/

[code]

[2017-11-26 16:46] theweavrs opened #221 "NullReferenceException when re initializing database"
https://sentry.io/abdullah-atta/breadplayer/issues/409182671/

[code]

[2017-11-26 16:49] theweavrs opened #222 "Error while trying to play next song."
https://sentry.io/abdullah-atta/breadplayer/issues/409182670/

[code]

[2017-11-26 19:35] #219 closed

[2017-11-26 19:35] #220 closed

[2017-11-26 19:35] #221 closed

[2017-11-26 19:35] #222 closed

[2017-11-26 19:42] theweavrs opened #223 "Error while navigating back."
https://sentry.io/abdullah-atta/breadplayer/issues/408457047/

[code]

[2017-11-26 19:54] theweavrs commented on #205
https://sentry.io/abdullah-atta/breadplayer/issues/404910967/

[2017-11-26 19:58] #223 closed

[2017-12-18 06:17] applesea2 commented on #135
Remember that this is a UWP app. That means it works almost entirely and only on platforms that support UWP. Creating an app for Windows 7/Linux means rewriting the app from scratch for the two OS's.

[2017-12-18 06:22] applesea2 opened #224 "Audio pausing/stuttering when BreadPlayer is minimized"
### Actual Behaviour:

#### What Happened?
_[Write detailed explaination of what actually happened. Did the app crash? Did the app hang? etc.]_
Audio crackling and stuttering
#### How it happened?
_[Write detailed explaination of how the problem occured. What were you doing? When did it happen? etc.]_
Leaving a playing song while Toast Player is minimized
### Expected Behaviour:
Listening to song

[2017-12-18 06:54] #224 closed

[2017-12-19 06:06] theweavrs opened #225 "LockRecursionException: App crash when performing functions on TSCollection"
System.Threading.LockRecursionException: LockRecursionException_RecursiveReadNotAllowed. For more information, visit http://go.microsoft.com/fwlink/?LinkId=623485
   at SharedLibrary!<BaseAddress>+0x658e16
   at SharedLibrary!<BaseAddress>+0x65892a
   at ThreadSafeObservableCollection<BreadPlayer.Core.Models.Album>.IndexOf(Core.Models.Album item)
   at BreadPlayer.ViewModels.ShellViewModel.UpdateC

[2017-12-19 06:18] #225 closed

[2017-12-19 06:22] theweavrs opened #226 "Player showing the first opened album/artist again and again"

[2017-12-19 06:52] theweavrs opened #227 "App crash when getting next/upcoming song"

[2017-12-19 06:52] #226 closed

[2017-12-19 06:52] #227 closed

[2017-12-19 07:00] theweavrs opened #228 "Cannot open files from outside Music Library"

[2017-12-19 07:04] theweavrs opened #229 "Cannot play song by clicking "Play" from context menu"

[2017-12-19 07:14] theweavrs opened #230 "Playlist not opening correctly"

[2017-12-20 06:43] #228 closed

[2017-12-20 06:43] #229 closed

[2017-12-20 06:43] #230 closed

[2017-12-20 06:47] theweavrs opened #231 "Some albums and artists missing"

[2017-12-20 06:47] #231 closed

[2017-12-20 15:31] JoshGoolnik opened #232 "Crash when audio device disabled."
### Actual Behaviour:

#### What Happened?
When the current audio device is disabled, Bread Player crashes.

#### How it happened?
I was experimenting with changing the audio device during running. I disabled my current device. BreadPlayer crashed.
### Expected Behaviour:

#### What were you expecting?
Some kind of safe handling of this, and some feedback to the user.
### Steps to reproduce the bu

[2017-12-20 16:29] #232 closed

[2017-12-21 04:50] theweavrs commented on #216
Was fixed in v2.7.8

[2017-12-21 04:50] #216 closed

[2018-02-20 14:59] ahmedpiosol opened #234 "Next button function as the play/pause button"
### Actual Behaviour:
when i click on the next button it will play/pause the current song

#### What Happened?
Next button function as the play/pause button in the playlist player view (when you choose a playlist then play a song from it)
#### How it happened?
by clicking the button to play the next song

### Expected Behaviour:
play the next song

### Steps to reproduce the bug:

1. add some song

[2018-02-20 15:42] theweavrs commented on #234
Confirmed. Fixing this ASAP.

[2018-03-01 02:00] Losses opened #235 "About the speed of the animation"
The speed of every animation seems too slow... Animation is a good thing but a slow animation will make the experience strange. Is there any change to modify that?

[2018-03-01 06:57] Losses opened #236 "OTG support?"
Is there any chance to add OTG support for mobile platform? It's hard to store all the music into the SD card, and very inconvenient for the concern of media management.

[2018-03-01 09:54] theweavrs commented on #236
I will check around and see if it is possible.

[2018-03-02 06:46] santosh commented on #144
Well, I want to make Hindi translation.

[2018-03-14 17:53] ahmedflix25 opened #237 "Can't scan for new songs"
### Actual Behaviour:
can't scan for new MP3s

### Steps to reproduce the bug:
open the app for the first time it will scan your phone for the files
after it finish close it
copy a new file (.mp3) to the phone in your library folder run the app again and it will load  the old songs but it will not scan the folder for new files and there is no way to do so except to reset the app

### General Infor

[2018-04-09 15:00] domcote opened #238 "OneDrive Files On Demand causing crash?"
### Actual Behaviour:
Bread Player seems to freeze / crash when I play music in folders that are serviced by One Drive Files On Demand - i.e. files are visible to the filesystem, but are not physically on the device.

#### What Happened?
Bread Player finds and indexes my music library, which is 97% in the cloud only. As soon as I try to play any cloud - only file, Bread Player throws an error "Fil

[2018-04-16 13:08] Natank7 commented on #144
Link to the RESW file
https://raw.githubusercontent.com/theweavrs/BreadPlayer/master/BreadPlayer.Views.UWP/Strings/en/Resources.resw

[2018-04-30 01:06] tgp1994 opened #239 "Podcast/gPodder support?"
I'd love to see an open source, C# podcast player (and even cooler if it can integrate with gPodder!) I'd like to help too. I develop in C# and maybe more importantly, I really want to see a modern player with this. :)

Would this fit with the direction of your project? I've been thinking of doing a little programming, so I can fork it soon and start working on this, and do a pull request later. T

[2018-05-02 10:01] theweavrs commented on #239
Yes, I did plan on adding podcast support. You are welcome to help. :)

[2018-05-30 16:38] mirzazulfan opened #240 "Propose Logo/Icon"
Hi. I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project and it's free.

[2018-05-30 18:59] theweavrs commented on #240
Hi! by all means.You can build one and show me. I would really appreciate it. If you require any help just ask.

thanks.

[2018-06-03 17:11] mirzazulfan commented on #240
Hi @theweavrs I've designed a logo for your project, tell me if you need some change or idea and i'll fix it, Thanks
![result](https://user-images.githubusercontent.com/36124339/40889133-9c0aa6e4-678b-11e8-8554-952917a0c255.png)

[2018-06-19 05:13] mfycan opened #241 "Skip song button not working"
When pressing the skip song button in a album or playlist, using default playlist sequence (not random) it just pauses the song and doesn't start the next. Pressing the previous song button is working.

Will there be a fix for it? If not, is it possible for you to release the previous version appx (Beta-2.7.8)? Thanks

[2019-01-31 15:17] #241 closed

[2020-05-30 23:24] superusercode opened #244 "Internet Radio support?"
Could use an open source API like https://github.com/segler-alex/radiobrowser to provide the stations.

[2020-08-14 08:52] jaigak commented on #135
You could use [Avalonia UI](https://github.com/AvaloniaUI/Avalonia) for building a cross-platform .NET app. It has Fluent Design for a modern design.

[2020-09-30 10:41] 89netraM commented on #144
Hi! I'll make a Swedish (`sv-se`) translation.
Will open a PR soon.

[2020-09-30 19:18] TomerPacific commented on #144
Hi @thecodrr , I'd like to translate BreadPlayer to **Hebrew** (he-IL).
Let me know if this is ok.

[2020-10-09 14:15] mai-am commented on #144
Hey, @thecodrr
I'd be happy to make a Norwegian (nb-no) translation. Can do it next week! :D

[2021-04-11 03:05] TheMayhem6328 opened #246 "Metadata is not read properly"
### Actual Behaviour:

#### What Happened?
Player can't scan FLAC metadata properly

#### How it happened?
I added my FLAC library to Bread, and see that most of my tracks got sorted as "unknown artist" - although they were rich in metadata.

### Expected Behaviour:

#### What were you expecting?
I was expecting that metadata would be properly read, but that is not happening. AIMP and my phone's p

[2021-04-11 03:07] TheMayhem6328 commented on #246
### File that does not work:
[02 - Million Voices.zip](https://github.com/thecodrr/BreadPlayer/files/6291115/02.-.Million.Voices.zip)

[2021-04-11 03:10] TheMayhem6328 commented on #246
### File that does work:
(Please download them and remove the `.gz` extension)
[There for You.zip.001.gz](https://github.com/thecodrr/BreadPlayer/files/6291118/There.for.You.zip.001.gz)
[There for You.zip.002.gz](https://github.com/thecodrr/BreadPlayer/files/6291119/There.for.You.zip.002.gz)
[There for You.zip.003.gz](https://github.com/thecodrr/BreadPlayer/files/6291120/There.for.You.zip.003.gz)

[2021-07-12 06:55] GitMensch opened #247 "please fix Github Project info"
The current listed website for this repo is https://theweavrs.github.io/BreadPlayer/ while the actual page is https://thecodrr.github.io/BreadPlayer/

... and that website, as README.md points to the not existing URL https://breadplayer.com/

[2021-07-12 07:27] GitMensch commented on #240
That is a quite old one, but is there an issue with the bitten bread that is used on the MS store?
Is there a reason that this isn't used here, for example in the README?

[2022-04-09 03:12] #244 closed, assigned to nobody

[2022-11-21 14:43] michaela559 commented on #136
Hello, do you only want suggestions or do you want someone to implement the fuctions?